ai-veo3-videa-frGSL4W9obyfupHP.json
{"createdAt":"2025-08-13T10:01:08.263Z","updatedAt":"2025-08-13T10:01:08.263Z","id":"frGSL4W9obyfupHP","name":"AI veo3 videa","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"a4926f24-25ce-4f34-91db-c149b118b392","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[0,1300],"typeVersion":1},{"parameters":{"url":"=https://queue.fal.run/fal-ai/veo3/requests/{{ $('Create Video').item.json.request_id }}/status ","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"43b0431e-15b6-41c6-a25a-d292b794e439","name":"Get status","type":"n8n-nodes-base.httpRequest","position":[1060,1300],"typeVersion":4.2},{"parameters":{"amount":60},"id":"5c4b7459-4ae9-4094-93c2-1b456b67e65d","name":"Wait 60 sec.","type":"n8n-nodes-base.wait","position":[880,1300],"webhookId":"490facb8-d0ae-402e-ab59-a87720cf0bdd","typeVersion":1.1},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"5157c946-74bf-4de0-aa49-2f6e346d0195","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[0,1160],"typeVersion":1.2},{"parameters":{"content":"# Generate AI Videos with Google Veo3, Save to Google Drive and Upload to YouTube\n\nThis workflow allows users to **generate AI videos** using **Google Veo3**, save them to **Google Drive**, generate optimized YouTube titles with GPT-4o, and **automatically upload them to YouTube** . The entire process is triggered from a Google Sheet that acts as the central interface for input and output.\n\nIT automates video creation, uploading, and tracking, ensuring seamless integration between Google Sheets, Google Drive, Google Veo3, and YouTube.\n\n\n\n\n","height":280,"width":740,"color":3},"id":"62e501e6-ba21-4043-ade5-f36785ad8fed","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"## STEP 1 - GOOGLE SHEET\nCreate a [Google Sheet like this](https://docs.google.com/spreadsheets/d/1pcoY9N_vQp44NtSRR5eskkL5Qd0N0BGq7Jh_4m-7VEQ/edit?usp=sharing).\n\nPlease insert:\n- in the \"PROMPT\" column the accurate description of the video you want to create\n- in the \"DURATION\" column the lenght of the video you want to create\n\nLeave the \"VIDEO\" column unfilled. It will be inserted by the system once the video has been created","height":200,"width":740},"id":"78e89bf9-5969-4f0c-b5b9-41a5147ef3ce","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[0,320],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"383d112e-2cc6-4dd4-8985-f09ce0bd1781","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"COMPLETED"}]},"options":{}},"id":"4436b5e3-99da-4c55-809f-23514ee1954c","name":"Completed?","type":"n8n-nodes-base.if","position":[1240,1300],"typeVersion":2.2},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":"1pcoY9N_vQp44NtSRR5eskkL5Qd0N0BGq7Jh_4m-7VEQ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pcoY9N_vQp44NtSRR5eskkL5Qd0N0BGq7Jh_4m-7VEQ/edit?usp=drivesdk","cachedResultName":"Video Google Veo3"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11ebWJvwwXHgvQld9kxywKQUvIoBw6xMa0g0BuIqHDxE/edit#gid=0","cachedResultName":"Foglio1"},"columns":{"value":{"VIDEO":"={{ $('Get Url Video').item.json.video.url }}","row_number":"={{ $('Get new video').item.json.row_number }}"},"schema":[{"id":"PROMPT","type":"string","display":true,"removed":false,"required":false,"displayName":"PROMPT","defaultMatch":false,"canBeUsedToMatch":true},{"id":"DURATION","type":"string","display":true,"removed":false,"required":false,"displayName":"DURATION","defaultMatch":false,"canBeUsedToMatch":true},{"id":"VIDEO","type":"string","display":true,"removed":false,"required":false,"displayName":"VIDEO","defaultMatch":false,"canBeUsedToMatch":true},{"id":"YOUTUBE_URL","type":"string","display":true,"removed":false,"required":false,"displayName":"YOUTUBE_URL","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["row_number"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"fb0a72b2-664a-46f4-a37e-1bd58457717a","name":"Update result","type":"n8n-nodes-base.googleSheets","position":[1080,1560],"typeVersion":4.5},{"parameters":{"assignments":{"assignments":[{"id":"c713d31f-9abd-496a-ac79-e8e2efe60aa0","name":"prompt","type":"string","value":"={{ $json.PROMPT }}\n\nDuration of the video: {{ $json.DURATION }}"}]},"options":{}},"id":"b285487f-b25e-44c5-9020-47c83a83e52a","name":"Set data","type":"n8n-nodes-base.set","position":[440,1300],"typeVersion":3.4},{"parameters":{"content":"## STEP 4 - MAIN FLOW\nStart the workflow manually or periodically by hooking the \"Schedule Trigger\" node. It is recommended to set it at 5 minute intervals.","height":100,"width":740},"id":"200e0799-6e9d-4620-b9b1-7590dce305e5","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[0,980],"typeVersion":1},{"parameters":{"content":"## STEP 2 - GET API KEY (YOURAPIKEY)\nCreate an account [here](https://fal.ai/) and obtain API KEY.\nIn the node \"Create Image\" set \"Header Auth\" and set:\n- Name: \"Authorization\"\n- Value: \"Key YOURAPIKEY\"","height":140,"width":740},"id":"05a81f80-6846-4e61-896d-f6a48b1aaa00","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[0,560],"typeVersion":1},{"parameters":{"content":"Set API Key created in Step 2","height":200,"width":180},"id":"854c52e8-63ab-41fc-9d48-9e365cbbaa00","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[620,1240],"typeVersion":1},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":"1pcoY9N_vQp44NtSRR5eskkL5Qd0N0BGq7Jh_4m-7VEQ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pcoY9N_vQp44NtSRR5eskkL5Qd0N0BGq7Jh_4m-7VEQ/edit?usp=drivesdk","cachedResultName":"Video Google Veo3"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pcoY9N_vQp44NtSRR5eskkL5Qd0N0BGq7Jh_4m-7VEQ/edit#gid=0","cachedResultName":"Foglio1"},"filtersUI":{"values":[{"lookupColumn":"VIDEO"}]},"options":{}},"id":"f34494f8-1fdc-43d2-9900-2f38336938a3","name":"Get new video","type":"n8n-nodes-base.googleSheets","position":[220,1300],"typeVersion":4.5},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/veo3","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n     \"prompt\": \"{{$json.prompt}}\"\n}","options":{}},"id":"402f3c90-1a2c-4656-8858-9d9fdd1b5d59","name":"Create Video","type":"n8n-nodes-base.httpRequest","position":[660,1300],"typeVersion":4.2},{"parameters":{"url":"=https://queue.fal.run/fal-ai/veo3/requests/{{ $json.request_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"af3047b3-ec6f-44e7-9f4a-2a8599fc5edf","name":"Get Url Video","type":"n8n-nodes-base.httpRequest","position":[0,1680],"typeVersion":4.2},{"parameters":{"url":"={{ $('Get Url Video').item.json.video.url }}","options":{}},"id":"5a761490-537b-47b6-bc91-fd7b56e97a82","name":"Get File Video","type":"n8n-nodes-base.httpRequest","position":[620,1680],"typeVersion":4.2},{"parameters":{"name":"={{ $now.format('yyyyLLddHHmmss') }}-{{ $('Get Url Video').item.json.video.file_name }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"1aHRwLWyrqfzoVC8HoB-YMrBvQ4tLC-NZ","cachedResultUrl":"https://drive.google.com/drive/folders/1aHRwLWyrqfzoVC8HoB-YMrBvQ4tLC-NZ","cachedResultName":"Fal.run"},"options":{}},"id":"445c811d-8a82-4ff5-9ca5-18bddf593914","name":"Upload Video","type":"n8n-nodes-base.googleDrive","position":[900,1560],"typeVersion":3},{"parameters":{"method":"POST","url":"https://api.upload-post.com/api/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"title","value":"={{ $('Generate title').item.json.message.content }}"},{"name":"user","value":"YOUR_USERNAME"},{"name":"platform[]","value":"youtube"},{"parameterType":"formBinaryData","name":"video","inputDataFieldName":"data"}]},"options":{}},"id":"003a750a-6d5f-4da5-aa64-ac21635f182c","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","position":[900,1780],"typeVersion":4.2},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Input: {{ $('Get new video').item.json.PROMPT }}"},{"content":"You are a YouTube SEO expert specialized in creating engaging and optimized titles.\n\nYour task is to generate an effective title for a YouTube video based on the user's video description.\n\nGUIDELINES:\n- Maximum 60 characters to avoid truncation\n- Use relevant keywords for SEO\n- Make the title catchy and clickable\n- Avoid excessive or misleading clickbait\n- Consider the target audience of the content\n- Use numbers, questions, or power words when appropriate\n- IMPORTANT: Generate the title in the same language as the input description\n\nOUTPUT FORMAT:\nProvide only the title, without additional explanations.\n\nEXAMPLE:\nInput: \"Tutorial video on how to cook perfect pasta carbonara\"\nOutput: \"PERFECT Carbonara in 10 Minutes - Chef's Secrets\"","role":"system"}]},"options":{}},"id":"38fc5ef5-3ba3-4d5b-adda-ed6d131acda4","name":"Generate title","type":"@n8n/n8n-nodes-langchain.openAi","position":[240,1680],"typeVersion":1.8},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":"1pcoY9N_vQp44NtSRR5eskkL5Qd0N0BGq7Jh_4m-7VEQ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pcoY9N_vQp44NtSRR5eskkL5Qd0N0BGq7Jh_4m-7VEQ/edit?usp=drivesdk","cachedResultName":"Video Google Veo3"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11ebWJvwwXHgvQld9kxywKQUvIoBw6xMa0g0BuIqHDxE/edit#gid=0","cachedResultName":"Foglio1"},"columns":{"value":{"VIDEO":"=","row_number":"={{ $('Get new video').item.json.row_number }}","YOUTUBE_URL":"https://youtu.be/{{ $json.results.youtube.video_id }}"},"schema":[{"id":"PROMPT","type":"string","display":true,"removed":false,"required":false,"displayName":"PROMPT","defaultMatch":false,"canBeUsedToMatch":true},{"id":"DURATION","type":"string","display":true,"removed":false,"required":false,"displayName":"DURATION","defaultMatch":false,"canBeUsedToMatch":true},{"id":"VIDEO","type":"string","display":true,"removed":false,"required":false,"displayName":"VIDEO","defaultMatch":false,"canBeUsedToMatch":true},{"id":"YOUTUBE_URL","type":"string","display":true,"removed":false,"required":false,"displayName":"YOUTUBE_URL","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["row_number"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"83e529d6-12e7-4bbb-87ec-3c992ea5f61b","name":"Update Youtube URL","type":"n8n-nodes-base.googleSheets","position":[1080,1780],"typeVersion":4.5},{"parameters":{"content":"Set YOUR_USERNAME in Step 3","height":200,"width":180},"id":"5db71581-2f16-440a-aba6-58a138690264","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[880,1720],"typeVersion":1},{"parameters":{"content":"## STEP 3 - Upload video on Youtube\n- Find your API key in your [Upload-Post Manage Api Keys](https://app.upload-post.com/) 10 FREE uploads per month\n- Set the the \"Auth Header\":\n-- Name: Authorization\n-- Value: Apikey YOUR_API_KEY_HERE\n- Create profiles to manage your social media accounts. The \"Profile\" you choose will be used in the field YOUR_USRNAME (eg. test1 or test2).  ","height":200,"width":740},"id":"3adcf6a1-3fc0-4655-b746-5984405e0d33","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[0,740],"typeVersion":1}],"connections":{"Set data":{"main":[[{"node":"Create Video","type":"main","index":0}]]},"Completed?":{"main":[[{"node":"Get Url Video","type":"main","index":0}],[{"node":"Wait 60 sec.","type":"main","index":0}]]},"Get status":{"main":[[{"node":"Completed?","type":"main","index":0}]]},"Create Video":{"main":[[{"node":"Wait 60 sec.","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Update Youtube URL","type":"main","index":0}]]},"Upload Video":{"main":[[{"node":"Update result","type":"main","index":0}]]},"Wait 60 sec.":{"main":[[{"node":"Get status","type":"main","index":0}]]},"Get Url Video":{"main":[[{"node":"Generate title","type":"main","index":0}]]},"Get new video":{"main":[[{"node":"Set data","type":"main","index":0}]]},"Generate title":{"main":[[{"node":"Get File Video","type":"main","index":0}]]},"Get File Video":{"main":[[{"node":"Upload Video","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Get new video","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"09a1dc6d-d869-46d4-8c8b-56800b5bfb0d","triggerCount":0,"tags":[]}