chobotnice-UDBYsiHkX8EJAoCZ.json
{"createdAt":"2025-08-13T10:08:24.093Z","updatedAt":"2025-08-13T10:08:24.093Z","id":"UDBYsiHkX8EJAoCZ","name":"chobotnice","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"4f83f7c6-dfd2-4016-bd23-89841e00b64f","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[140,360]},{"parameters":{"assignments":{"assignments":[{"id":"7ab380a2-a8d3-421c-ab4e-748ea8fb7904","name":"response","value":"Unable to perform task. Please try again.","type":"string"}]},"options":{}},"id":"f06b0dad-c36c-4e0b-beba-9dcb9495f026","name":"Try Again","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1580,200]},{"parameters":{"assignments":{"assignments":[{"id":"39c2f302-03be-4464-a17a-d7cc481d6d44","name":"response","value":"={{$json.output}}","type":"string"}]},"options":{}},"id":"cd876a79-1459-4afd-bdd8-55c97b34b408","name":"Success","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1580,20]},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"# Email Management Assistant\n\nYou are a professional email management assistant. All emails must be formatted professionally in HTML and signed off as \"Best regards,\" followed by the sender's name.\n\n## Available Tools\n- **Send Email**: Send emails to recipients\n- **Create Draft**: Create email drafts for review\n- **Get Emails**: Retrieve emails from inbox\n- **Get Labels**: Retrieve available email labels\n- **Mark Unread**: Mark emails as unread (requires message ID)\n- **Label Email**: Apply labels to emails (requires message ID and label ID)\n- **Email Reply**: Reply to emails (requires message ID)\n\n## Instructions\n- Always maintain professional tone and formatting\n- Use HTML formatting for email content\n- When marking emails as unread or labeling emails, first use \"Get Emails\" to obtain the message ID\n- When applying labels, use \"Get Labels\" to get the correct label ID\n- Current date/time: {{ $now }}\n\n## Response Format\nProvide clear confirmation of actions taken and any relevant details about the email operations performed."}},"id":"cfaabb59-7b2f-4ccd-993d-7de28862ffca","name":"Email Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[600,80],"onError":"continueErrorOutput"},{"parameters":{"sendTo":"={{ $fromAI('to', 'recipient email address') }}","subject":"={{ $fromAI('subject', 'email subject line') }}","message":"={{ $fromAI('message', 'email body content') }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[360,460],"id":"20dc3ef6-eab8-4725-a802-cecd094578bb","name":"Send Email","webhookId":"send-email-tool"},{"parameters":{"operation":"getAll","limit":"={{ $fromAI(\"limit\",\"how many emails to retrieve\") }}","simple":false,"filters":{"sender":"={{ $fromAI(\"sender\",\"email sender to filter by\") }}"},"options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1000,560],"id":"7de740b5-ceab-44d2-ab05-d8c7e23415fa","name":"Get Emails","webhookId":"get-emails-tool"},{"parameters":{"resource":"draft","subject":"={{ $fromAI(\"subject\") }}","emailType":"html","message":"={{ $fromAI(\"emailBody\") }}","options":{"sendTo":"={{ $fromAI(\"emailAddress\") }}"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[840,580],"id":"728ccf5e-dfb6-457c-9b3a-85673a754b32","name":"Create Draft","webhookId":"create-draft-tool"},{"parameters":{"operation":"reply","messageId":"={{ $fromAI(\"ID\",\"the message ID\") }}","message":"={{ $fromAI(\"emailBody\") }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[520,520],"id":"6e950829-bece-4c8c-9f95-84f11f99d4da","name":"Email Reply","webhookId":"email-reply-tool"},{"parameters":{"resource":"label","returnAll":true},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1120,500],"id":"9969da92-b0d9-4ebd-a0a6-f6c678170561","name":"Get Labels","webhookId":"get-labels-tool"},{"parameters":{"operation":"addLabels","messageId":"={{ $fromAI(\"ID\",\"the ID of the message\") }}","labelIds":"={{ $fromAI(\"labelID\") }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[680,560],"id":"ccc85eb4-fc44-4641-8a58-d6fea97b2ee9","name":"Label Emails","webhookId":"label-emails-tool"},{"parameters":{"operation":"markAsUnread","messageId":"={{ $fromAI(\"messageID\") }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1260,440],"id":"4552f523-b645-4b83-97fa-9aac4bc08676","name":"Mark Unread","webhookId":"mark-unread-tool"},{"parameters":{"resource":"chat"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,0],"id":"f0b7ff1b-36cc-4de9-8169-8b2ec6b38ef8","name":"Telegram Trigger","webhookId":"614777f7-efea-4e81-a8dd-7dbc48df34df"},{"parameters":{"path":"831cca95-2666-42d0-bd60-613bb6c2abd3","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,200],"id":"20e4f35b-3a7c-47d2-8f8f-7b2051d4c25f","name":"Webhook","webhookId":"831cca95-2666-42d0-bd60-613bb6c2abd3"},{"parameters":{"assignments":{"assignments":[{"id":"22647043-35dd-451b-a8a3-5998066a1792","name":"query","value":"={{ $json.message.text || $json.message.voice.file_id || 'Process this message' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[340,80],"id":"4a95df1a-d103-4170-9de3-66f4b6dbe325","name":"Process Message"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id || $('Webhook').item.json.message.chat.id }}","text":"={{ $json.response }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1840,120],"id":"746070dd-45aa-4790-868f-1f684e7f9bee","name":"Send Telegram Response","webhookId":"ccaec896-c976-4d73-83cf-397312dee22c"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Email Agent","type":"ai_languageModel","index":0}]]},"Email Agent":{"main":[[{"node":"Success","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]},"Success":{"main":[[{"node":"Send Telegram Response","type":"main","index":0}]]},"Try Again":{"main":[[{"node":"Send Telegram Response","type":"main","index":0}]]},"Send Email":{"ai_tool":[[{"node":"Email Agent","type":"ai_tool","index":0}]]},"Email Reply":{"ai_tool":[[{"node":"Email Agent","type":"ai_tool","index":0}]]},"Get Emails":{"ai_tool":[[{"node":"Email Agent","type":"ai_tool","index":0}]]},"Create Draft":{"ai_tool":[[{"node":"Email Agent","type":"ai_tool","index":0}]]},"Get Labels":{"ai_tool":[[{"node":"Email Agent","type":"ai_tool","index":0}]]},"Label Emails":{"ai_tool":[[{"node":"Email Agent","type":"ai_tool","index":0}]]},"Mark Unread":{"ai_tool":[[{"node":"Email Agent","type":"ai_tool","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Process Message","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Process Message","type":"main","index":0}]]},"Process Message":{"main":[[{"node":"Email Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"96d57429-b278-4dd1-8a64-9ea8509b65c5","triggerCount":0,"shared":[{"createdAt":"2025-08-13T10:08:24.096Z","updatedAt":"2025-08-13T10:08:24.096Z","role":"workflow:owner","workflowId":"UDBYsiHkX8EJAoCZ","projectId":"zpk8zHoHWXf3cQ7T"}],"tags":[]}