easy-instagram(via-manychat)-bot-d9b5zfZdwpJK4kfR.json
{"createdAt":"2025-08-13T10:05:38.952Z","updatedAt":"2025-08-13T10:05:38.952Z","id":"d9b5zfZdwpJK4kfR","name":"Easy Instagram(via ManyChat) bot","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"0b3c3d71-5627-4b8c-91f0-ac44eaedf196","name":"prompt","type":"string","value":"=Persona: You are a instagram influencer.\nContext: You receive a messages from your subscribers\nTask: Answer questions in your writing style and patterns according to your previous posts text. Use your post only for style and patterns reference.\nStyle rules:\nsimple answers"},{"id":"c2a9e272-5c0d-4685-ad0e-ce6995f92a1c","name":"sessionId","type":"string","value":"={{ $json.body.session_id }}"},{"id":"b3c20ee3-07a1-4584-b0d9-7310a2c6b723","name":"chatInput","type":"string","value":"={{ $json.body.text }}"}]},"options":{}},"id":"df474646-adf9-4e40-b8e1-4b2498c49430","name":"Set your system promt for AI","type":"n8n-nodes-base.set","position":[-200,320],"typeVersion":3.3,"notes":"In this node in \"prompt\" variable you can set your system prompt"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Set your system promt for AI').last().json.sessionId }}","contextWindowLength":20},"id":"f7c3cad9-88bd-4094-9e02-3ce6fd4c612e","name":"Local n8n memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[180,480],"typeVersion":1.3},{"parameters":{"options":{}},"id":"e17aa6c3-f319-4b80-ba88-1e3d2d4fd7d1","name":"ChatGPT model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[40,480],"typeVersion":1},{"parameters":{"options":{}},"id":"66f3565d-993c-46b5-8b15-6f27632c01af","name":"Send respond ","type":"n8n-nodes-base.respondToWebhook","position":[400,320],"typeVersion":1.1},{"parameters":{"content":"## Easy Instagram(via ManyChat) bot\n---\n### Description:\nThis template is a main part of Entire solution. It's getting new message from Instagram via ManyChat(Extra No-Code tool for getting and sending message in Instagram). Generating message using ChatGPT and send back to ManyChat that sends it to Instagrtam.\n\n### Logic:\n1. Getting message from Instagram(from ManyChat)\n2. Set you system prompt for AI\n3. Create simple answer for message in AI block\n4. Send answer to Instagram(to ManyChat)\n\n---\n*Helpful links:*\n- [Guide in Notion how to create full bot](https://shadowed-pound-d6e.notion.site/Instagram-GPT-light-version-Manychat-X-N8N-176293bddff880899a9ac255585d29f7?pvs=4)\n- [ManyChat](https://manychat.partnerlinks.io/vm4wkw8j81tc)","height":447.98321744507007,"width":458.4028599661066,"color":5},"id":"ad1272c2-89d5-48bf-b588-b0716f99ede7","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1000,60],"typeVersion":1},{"parameters":{"httpMethod":"POST","path":"instagram_chat","responseMode":"responseNode","options":{}},"id":"53ab0994-e6ce-43ad-9587-d689ecf4d52e","name":"Getting message from Instagram","type":"n8n-nodes-base.webhook","position":[-420,320],"webhookId":"68d3fbc9-6e49-4bdc-851c-2a532be911ab","typeVersion":2},{"parameters":{"content":"## 3) AI block\n---\nThere is 3 nodes:\n- AI Agent\n- Chat GPT model\n- Memory for history messages\n\n### To do:\n- in ChatGPT node you can choose the best model for you\n- in Memory Block you can change number of messages in history\n\n","height":614.7475040550845,"width":313.9634922216307},"id":"b5c5c40e-82e4-49ee-9f4d-2b677049e9c2","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"={{ $json.prompt }}"}},"id":"58c60637-7704-463f-9f70-bbad19ece679","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[20,320],"typeVersion":1.7},{"parameters":{"content":"## 1) HTTP Post webhook\n\n**To do:**\nJust copy production link from this node and insert to custom action in ManyChat\n\nNo edits needed","height":440},"id":"c3b3b114-7cac-4e02-9701-02ba0c549e43","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-500,60],"typeVersion":1},{"parameters":{"content":"## 2) Edit prompt\n\n**To do:**\nGo inside and change input\n","height":320,"width":220},"id":"c7cb4806-0bd9-4153-ac19-5482c65ac7bf","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-240,180],"typeVersion":1},{"parameters":{"content":"## 4) Respond webhook\n\nNo edits needed","height":300},"id":"808228ff-59aa-4a5f-a172-f58cab3396f6","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[340,180],"typeVersion":1}],"connections":{"AI Agent":{"main":[[{"node":"Send respond ","type":"main","index":0}]]},"ChatGPT model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Local n8n memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Set your system promt for AI":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Getting message from Instagram":{"main":[[{"node":"Set your system promt for AI","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"5050818d-6cf3-4435-b97c-092dee5cd14f","triggerCount":0,"tags":[]}