firmycz_scraper_aao_tmp-ufHaaE7v5eh5qb9J.json
{"createdAt":"2025-08-13T10:02:46.920Z","updatedAt":"2025-08-22T08:45:24.000Z","id":"ufHaaE7v5eh5qb9J","name":"firmyCZ_Scraper_AAO_TMP","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Přístup k datům ze vstupního nodu\nconst allData = items[0].json.data;\n\n// Set pro ukládání e-mailů, které jsme již viděli.\n// Set zajišťuje velmi rychlé vyhledávání.\nconst seenEmails = new Set();\n\n// Pole pro uložení unikátních (filtrovaných) záznamů.\nconst filteredOutput = [];\n\n// Projdeme každý záznam ve vstupních datech.\nfor (const item of allData) {\n  // Získáme e-mail a ořízneme případné bílé znaky na začátku/konci.\n  const email = item.email ? item.email.trim() : null;\n\n  // Zkontrolujeme, zda e-mail existuje a zda jsme ho ještě neviděli.\n  if (email && !seenEmails.has(email)) {\n    // Pokud je to nový unikátní e-mail:\n    // 1. Přidáme ho do setu, abychom ho příště poznali jako duplicitní.\n    seenEmails.add(email);\n    \n    // 2. Přidáme celý původní záznam do našeho filtrovaného výstupu.\n    filteredOutput.push(item);\n  }\n}\n\n// Vrátíme data ve formátu, kterému n8n rozumí pro další nody.\n// Výstup bude dostupný v dalším nodu jako `filtered_output`.\nreturn [{\n  json: {\n    filtered_output: filteredOutput\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,-160],"id":"e56cfde6-068d-4a6d-9670-efd30d6eb398","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"da9bfac0-9d3c-46fa-8c7f-c3b09c83129c","name":"previousUrl","value":"={{ $('Initialize Loop').item.json.current_url }}&page={{ $('MAIN VAR 1').item.json.currentPage }}","type":"string"}]},"options":{"dotNotation":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,368],"id":"eec469b4-0c17-4996-8fb0-9749fbd777fa","name":"TMP VAR 2"},{"parameters":{"assignments":{"assignments":[{"id":"b893d58b-2b18-488b-97e9-d93467c1d901","name":"previousPage","value":"={{ $('MAIN VAR 1').first().json.currentPage }}","type":"number"},{"id":"301814ef-3809-4c05-b2c2-04c220e133d2","name":"previousCollectedLinks","value":"={{ $json.collected_links }}","type":"array"}]},"options":{"dotNotation":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,336],"id":"001dd813-b3b1-452e-b238-c51447f31646","name":"TMP VAR 1"},{"parameters":{"assignments":{"assignments":[{"id":"72cd5c41-8c07-4684-9aa3-7d6251484567","name":"currentUrl","value":"={{ ($('TMP VAR 2').isExecuted) ? $('TMP VAR 2').first().json.previousUrl :  $('Initialize Loop').item.json.current_url}}","type":"string"}]},"options":{"dotNotation":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1088,208],"id":"b241e41b-afba-4714-95d9-bda989f120f0","name":"MAIN VAR 2"},{"parameters":{"assignments":{"assignments":[{"id":"b893d58b-2b18-488b-97e9-d93467c1d901","name":"currentPage","value":"={{ ($('TMP VAR 1').isExecuted) ? $('TMP VAR 1').first().json.previousPage + 1 : $('Edit Fields').first().json.currentPage}} ","type":"number"},{"id":"8f8b4922-5a57-4f4e-89af-db0c0308def6","name":"collectedLinks","value":"={{ ($('TMP VAR 1').isExecuted) ? $('TMP VAR 1').first().json.previousCollectedLinks : [] }}","type":"array"}]},"options":{"dotNotation":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1280,288],"id":"89b5b09d-8a2c-4215-b7fb-894a4f3c6bca","name":"MAIN VAR 1"},{"parameters":{"content":"## city A term MUSÍ BÝT LOWER CASE CELÉ!!"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1728,96],"id":"e9d90485-330c-4436-9773-74fb9c0c6c50","name":"Sticky Note"},{"parameters":{"batchSize":"=1","options":{}},"id":"a32dbae5-47ba-48a9-8d2c-111cb23501a6","name":"🔄 Split in Batches (1)","type":"n8n-nodes-base.splitInBatches","position":[-160,80],"typeVersion":3},{"parameters":{"amount":0,"unit":"seconds"},"id":"5fecf7cd-9a81-440d-a456-097baf5ce778","name":"⏱️ Wait (Rate Limit)","type":"n8n-nodes-base.wait","position":[160,48],"typeVersion":1,"webhookId":"807a2488-83a1-4c2f-835e-3dcffa0e5909"},{"parameters":{"url":"={{ $json.collected_links }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"}]},"options":{}},"id":"6df85159-b90f-4094-9caf-5c37476abbff","name":"📋 Scrape Business","type":"n8n-nodes-base.httpRequest","position":[336,48],"typeVersion":4.2,"retryOnFail":true,"waitBetweenTries":3000,"onError":"continueRegularOutput"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"6e367bfb-8260-4b8d-950d-fbf208e51fe5","name":"📦 Aggregate All Data","type":"n8n-nodes-base.aggregate","position":[160,-160],"typeVersion":1},{"parameters":{"fieldToSplitOut":"filtered_output","options":{}},"id":"d6cddf5b-6518-46ce-8a61-fd941485823f","name":"📋 Split Aggregated Data","type":"n8n-nodes-base.itemLists","position":[704,-160],"typeVersion":3},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1-r_o5J2st9R4GVzHELLKnGh8N12cM-BAhIBK54GNbcs","mode":"list","cachedResultName":"n8n firmyCZ scrape","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-r_o5J2st9R4GVzHELLKnGh8N12cM-BAhIBK54GNbcs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"List 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1E5lMlVdcH6sEe8yTVKe1cA2qrILtO4Zavad4rU6T-4E/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Business Name":"={{ $json.business_name }}","Email":"={{ $json.email }}","Phone":"={{ $json.phone }}","Website":"={{ $json.website }}","Business URL":"={{ $json.business_url }}","Description":"={{ $json.description }}","Street":"={{ $json.street }}","City":"={{ $json.city }}","Postal Code":"={{ $json.postal_code }}","Full Address":"={{ $json.full_address }}","ICO":"={{ $json.ico }}","Opening Hours":"={{ $json.opening_hours }}","All Phones":"={{ $json.all_phones }}","All Websites":"={{ $json.all_websites }}","Facebook":"={{ $json.facebook }}","Instagram":"={{ $json.instagram }}","LinkedIn":"={{ $json.linkedin }}","Twitter":"={{ $json.twitter }}","YouTube":"={{ $json.youtube }}","Latitude":"={{ $json.latitude }}","Longitude":"={{ $json.longitude }}"},"matchingColumns":[],"schema":[{"id":"Business Name","displayName":"Business Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Business URL","displayName":"Business URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Street","displayName":"Street","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Postal Code","displayName":"Postal Code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Full Address","displayName":"Full Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ICO","displayName":"ICO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Opening Hours","displayName":"Opening Hours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"All Phones","displayName":"All Phones","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"All Websites","displayName":"All Websites","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Facebook","displayName":"Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Instagram","displayName":"Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn","displayName":"LinkedIn","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Twitter","displayName":"Twitter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"YouTube","displayName":"YouTube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Latitude","displayName":"Latitude","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Longitude","displayName":"Longitude","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"id":"6c9acc2e-e52d-4a6c-b6b8-e4b222534507","name":"💾 Save All Results at Once","type":"n8n-nodes-base.googleSheets","position":[944,-160],"typeVersion":4.4,"credentials":{"googleSheetsOAuth2Api":{"id":"Zx6E2WZ3T6x3R24f","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// N8N Code Node: Robust Business Data Extractor for Firmy.cz\n// Verze 5.0: Aktualizace po změně HTML struktury (Q3 2025)\n\nconst html = $json.data || '';\nconst businessUrl = $json.business_urls || '';\n\n// --- Pomocné funkce ---\n\n// Bezpečně parsuje JSON\nconst tryParseJson = (str) => {\n  try {\n    return JSON.parse(str);\n  } catch (e) {\n    return null;\n  }\n};\n\n// Získá text pomocí regulárního výrazu a odstraní HTML tagy\nconst getTextByRegex = (regex, targetHtml = html) => {\n  const match = targetHtml.match(regex);\n  return match && match[1] ? match[1].replace(/<[^>]*>/g, '').trim() : null;\n};\n\n// Formátuje česká telefonní čísla\nconst formatCzechPhone = (phone) => {\n  if (!phone) return null;\n  const cleaned = phone.replace(/\\D/g, '');\n  if (cleaned.length === 9) return `+420${cleaned}`;\n  if (cleaned.length === 12 && cleaned.startsWith('420')) return `+${cleaned}`;\n  if (phone.startsWith('+420')) return phone.replace(/\\s/g, '');\n  return phone;\n};\n\n// Filtruje nerelevantní e-maily\nconst isValidEmail = (email) => {\n  if (!email) return false;\n  return !email.match(/(firmy\\.cz)/i);\n};\n\n// FIX: Přidáno 'mapy.com' do filtru pro webové stránky\nconst isValidWebsite = (url) => {\n  if (!url) return false;\n  return !url.match(/(analytics|doubleclick|facebook\\.com\\/tr|gtm|pixel|firmy\\.cz|mapy\\.com)/i);\n};\n\n// --- Inicializace extrahovaných dat ---\nlet extractedData = {\n  contact: {\n    phone: [],\n    websites: []\n  }\n};\n\n// --- Krok 1: Extrakce názvu firmy a telefonu pomocí specifických selektorů ---\n\n// FIX: Upravena priorita získávání názvu firmy, vnitřní text je nyní spolehlivější\nextractedData.company_name = getTextByRegex(/<h1[^>]*class=\\\"[^\\\"]*detailPrimaryTitle[^\\\"]*\\\"[^>]*>([\\s\\S]*?)<\\/h1>/i);\nif (!extractedData.company_name) {\n  extractedData.company_name = getTextByRegex(/<h1[^>]*class=\\\"[^\\\"]*detailPrimaryTitle[^\\\"]*\\\"[^>]*content=\\\"([^\\\"]*)\\\"/i);\n}\n\n// Získání primárního telefonu (stále funkční)\nconst primaryPhone = getTextByRegex(/<span[^>]*data-dot=\\\"origin-phone-number\\\"[^>]*>([\\s\\S]*?)<\\/span>/i);\nif (primaryPhone) {\n  extractedData.contact.phone.push(formatCzechPhone(primaryPhone));\n}\n\n// --- Krok 2: Extrakce z JSON-LD (prioritní metoda pro většinu dat) ---\nconst jsonLdRegex = /<script type=\\\"application\\/ld\\+json\\\"[^>]*>([\\s\\S]*?)<\\/script>/gi;\nconst jsonLdMatches = html.match(jsonLdRegex) || [];\nlet jsonLdData = null;\n\nfor (const match of jsonLdMatches) {\n  const content = match.replace(/<script type=\\\"application\\/ld\\+json\\\"[^>]*>|<\\/script>/g, '');\n  const parsedJson = tryParseJson(content);\n  if (parsedJson && (parsedJson['@type'] === 'LocalBusiness' || parsedJson['@type'] === 'Restaurant')) {\n    jsonLdData = parsedJson;\n    break;\n  }\n}\n\nif (jsonLdData) {\n  if (!extractedData.company_name) {\n    extractedData.company_name = jsonLdData.name;\n  }\n  if (extractedData.contact.phone.length === 0 && jsonLdData.telephone) {\n     extractedData.contact.phone = [formatCzechPhone(jsonLdData.telephone)];\n  }\n\n  // FIX: Nová, robustnější logika pro získání webových stránek\n  let allWebsites = [];\n  // Priorita č. 1: Přímo z 'url' klíče\n  if (jsonLdData.url && isValidWebsite(jsonLdData.url)) {\n    allWebsites.push(jsonLdData.url);\n  }\n  // Priorita č. 2: Z pole 'sameAs' s vylepšeným filtrováním\n  if (jsonLdData.sameAs && Array.isArray(jsonLdData.sameAs)) {\n    allWebsites.push(...jsonLdData.sameAs.filter(isValidWebsite));\n  }\n\n  extractedData = {\n    ...extractedData,\n    description: jsonLdData.description,\n    address: {\n      street: jsonLdData.address?.streetAddress,\n      city: jsonLdData.address?.addressLocality,\n      postal_code: jsonLdData.address?.postalCode,\n      country: jsonLdData.address?.addressCountry,\n      full_address: jsonLdData.address ?\n        `${jsonLdData.address.streetAddress || ''}, ${jsonLdData.address.addressLocality || ''} ${jsonLdData.address.postalCode || ''}`.trim() : null,\n      coordinates: {\n        latitude: jsonLdData.geo?.latitude,\n        longitude: jsonLdData.geo?.longitude\n      }\n    },\n    contact: {\n      ...extractedData.contact,\n      websites: [...new Set(allWebsites)], // Uložíme unikátní weby\n      email: jsonLdData.email && isValidEmail(jsonLdData.email) ? jsonLdData.email : null\n    },\n    opening_hours: jsonLdData.openingHours || [],\n    business_url: businessUrl\n  };\n}\n\n// --- Krok 3: Záložní extrakce pomocí Regex (pokud předchozí metody selžou) ---\n\nif (!extractedData.description) {\n  extractedData.description = getTextByRegex(/<p[^>]*itemProp=\\\"description\\\"[^>]*>(.*?)<\\/p>/i);\n}\n\nconst ico = getTextByRegex(/<h2[^>]*>IČO<\\/h2>[\\s\\S]*?<div[^>]*>(\\d+)/i);\nif (ico) {\n  extractedData.ico = ico;\n}\n\nif (!extractedData.contact.email) {\n  const emailRegex = /mailto:([a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,6})/i;\n  let emailMatch = html.match(emailRegex);\n  if (emailMatch && emailMatch[1] && isValidEmail(emailMatch[1])) {\n    extractedData.contact.email = emailMatch[1];\n  }\n}\n\n// NEW: Záložní metoda pro web, pokud nebyl nalezen v JSON-LD\nif (!extractedData.contact.websites || extractedData.contact.websites.length === 0) {\n    const websiteUrl = getTextByRegex(/<a[^>]*data-dot=\\\"show-website\\\"[^>]*href=\\\"([^\\\"]*)\\\"/i);\n    if (websiteUrl) {\n        // Odstraníme UTM parametry pro čistší URL\n        const cleanUrl = websiteUrl.split('?')[0];\n        if (isValidWebsite(cleanUrl)) {\n          extractedData.contact.websites = [cleanUrl];\n        }\n    }\n}\n\n\nif (extractedData.contact.phone) {\n    extractedData.contact.phone = [...new Set(extractedData.contact.phone.filter(p => p))];\n}\n\nreturn {\n  json: extractedData\n};"},"id":"4ec9ef9f-6211-4a07-ab64-43d3871762a3","name":"🧹 Clean HTML1","type":"n8n-nodes-base.code","position":[704,48],"typeVersion":2,"retryOnFail":true},{"parameters":{"jsCode":"// Smart Filter & Format - Select best website and clean data\n// Kompatibilní s novým Clean HTML výstupem\nconst data = $json; // Přímo použijeme $json, ne $json.detailed_data\n\n// Helper function to score websites (higher score = better)\nconst scoreWebsite = (url) => {\n  if (!url) return 0;\n  \n  // Penalize social networks heavily\n  if (url.match(/(facebook|twitter|instagram|linkedin|youtube|tiktok)/i)) return 1;\n  \n  // Penalize subpages and files\n  if (url.match(/\\.(json|xml|pdf|jpg|png)$/i)) return 2;\n  if (url.includes('/prodejny/') || url.includes('/pobocky/')) return 3;\n  if (url.includes('/kontakt') || url.includes('/contact')) return 4;\n  \n  // Prefer main domain\n  const urlParts = url.replace(/https?:\\/\\//, '').split('/');\n  if (urlParts.length <= 2) return 10; // Main domain\n  if (urlParts.length === 3 && !urlParts[2]) return 10; // Main domain with trailing slash\n  \n  return 5; // Subpage but not social/file\n};\n\n// Find best website from available options\nlet bestWebsite = '';\nlet bestScore = 0;\n\nif (data.contact?.websites) {\n  data.contact.websites.forEach(url => {\n    const score = scoreWebsite(url);\n    if (score > bestScore) {\n      bestScore = score;\n      bestWebsite = url;\n    }\n  });\n}\n\n// If no good website found, try to extract domain from any URL\nif (!bestWebsite && data.contact?.websites?.length > 0) {\n  const firstUrl = data.contact.websites[0];\n  const domainMatch = firstUrl.match(/https?:\\/\\/([^.\\/]+\\.[^.\\/]+)/);\n  if (domainMatch) {\n    bestWebsite = `https://${domainMatch[1]}`;\n  }\n}\n\n// Extract social media links separately\nconst socialMedia = {};\nif (data.contact?.websites) {\n  data.contact.websites.forEach(url => {\n    if (url.includes('facebook.com')) socialMedia.facebook = url;\n    if (url.includes('instagram.com')) socialMedia.instagram = url;\n    if (url.includes('linkedin.com')) socialMedia.linkedin = url;\n    if (url.includes('twitter.com')) socialMedia.twitter = url;\n    if (url.includes('youtube.com')) socialMedia.youtube = url;\n  });\n}\n\n// Format final output for Google Sheets\nconst result = {\n  json: {\n    // Core data for Google Sheets\n    business_name: data.company_name || 'Unknown',\n    email: data.contact?.email || 'N/A',\n    phone: data.contact?.phone?.[0] || 'N/A',\n    website: bestWebsite || '',\n    business_url: data.business_url || '',\n    description: data.description || '',\n    street: data.address?.street || '',\n    city: data.address?.city || '',\n    postal_code: data.address?.postal_code || '',\n    full_address: data.address?.full_address || '',\n    ico: data.ico || '',\n    opening_hours: Array.isArray(data.opening_hours) ? data.opening_hours.join(', ') : (data.opening_hours || ''),\n    all_phones: data.contact?.phone ? data.contact.phone.join(', ') : '',\n    all_websites: data.contact?.websites ? data.contact.websites.join(', ') : '',\n    facebook: socialMedia.facebook || '',\n    instagram: socialMedia.instagram || '',\n    linkedin: socialMedia.linkedin || '',\n    twitter: socialMedia.twitter || '',\n    youtube: socialMedia.youtube || '',\n    latitude: data.address?.coordinates?.latitude || '',\n    longitude: data.address?.coordinates?.longitude || ''\n  }\n};\n\n// Log what we selected\nconsole.log(`Selected website: ${bestWebsite} (score: ${bestScore})`);\nconsole.log(`Found ${Object.keys(socialMedia).length} social media links`);\nconsole.log(`Available websites: ${JSON.stringify(data.contact?.websites || [])}`);\n\nreturn result;"},"id":"6026accd-ec71-4992-b254-1664f605fec3","name":"🎯 Smart Filter1","type":"n8n-nodes-base.code","position":[912,96],"typeVersion":2,"retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"amount":0.3,"unit":"seconds"},"id":"67b97279-0da0-4d1b-a1ea-a33739e06efd","name":"Wait Between Pages","type":"n8n-nodes-base.wait","position":[-288,336],"typeVersion":1,"webhookId":"807a2488-83a1-4c2f-835e-3dcffa0e5911"},{"parameters":{"jsCode":"// n8n Code Node: Extrakce odkazů z aktuální stránky + kontrola pokračování\n// Přidá nové odkazy ke stávajícím a rozhodne o pokračování\n\nconst html = $input.first().json.data || '';\nconst max_results = $('Edit Fields').first().json.maxResults ;\nvar currentPage =  $('MAIN VAR 1').first().json.currentPage || 1;\nconst city = $('Initialize Loop').first().json.city || '';\nconst term = $('Initialize Loop').first().json.term || '';\nvar existingLinks =$('MAIN VAR 1').first().json.collectedLinks ;\n\n\n// Detekce celkového počtu stránek\nconst pageDataRegex = /data-dot-data=\"{&quot;current&quot;:(\\d+),\\s*&quot;all&quot;:(\\d+)}\"/i;\nconst pageMatch = html.match(pageDataRegex);\nconst totalPages = pageMatch ? parseInt(pageMatch[2]) : 1;\n\n// Extrakce odkazů z aktuální stránky\nconst linkRegex = /<a\\s+class=\"titleLinkOverlay\"[^>]*?href=\"([^\"]*)\"/gi;\nlet matches;\n\nwhile ((matches = linkRegex.exec(html)) !== null) {\n  const url = matches[1];\n  if (existingLinks.length >= max_results) {\n      break;\n    }\n  if (url && url.startsWith('https://www.firmy.cz/detail/')) {\n    existingLinks.push(url);\n    // Přidaná podmínka pro ukončení cyklu\n    \n  }\n}\n\n// Kombinace se stávajícími odkazy + deduplikace\n//const allLinks = [...new Set([...existingLinks, ...newLinks])];\n\n// Rozhodnutí o pokračování\nconst hasEnoughLinks = existingLinks.length >= max_results;\nconst isLastPage = currentPage >= totalPages;\nconst shouldContinue = !hasEnoughLinks && !isLastPage;\n\nconsole.log(`🔍 PAGE ${currentPage}/${totalPages}: Found ${existingLinks.length} new links`);\nconsole.log(`📊 TOTAL: ${existingLinks.length} links (need ${max_results})`);\nconsole.log(`🎯 CONTINUE: ${shouldContinue ? 'YES' : 'NO'} (enough: ${hasEnoughLinks}, last: ${isLastPage})`);\n\n// Příprava pro další stránku nebo dokončení\nif (shouldContinue) {\n  const nextUrl = `https://www.firmy.cz/?q=${city}+${term}&page=${$('MAIN VAR 1').first().json.currentPage}`;\n  \n  return {\n    json: {\n      maxResults: max_results,\n      city: city,\n      term: term,\n      current_page: currentPage,\n      collected_links: existingLinks,\n      total_pages: totalPages,\n      finished: false,\n      current_url: nextUrl,\n\n      // Pro IF node\n      should_continue: true\n\n      \n    }\n  };\n} else {\n  // Dokončeno - aplikujeme finální limit\n  const finalLinks = existingLinks.slice(0, max_results);\n  \n  \n  return {\n    json: {\n      maxResults: max_results,\n      city: city,\n      term: term,\n      current_page: currentPage,\n      collected_links: existingLinks,\n      total_pages: totalPages,\n      finished: true,\n\n      // Pro IF node\n      should_continue: false,\n      \n      // Připravíme data pro původní strukturu\n      business_urls: finalLinks,\n      count: finalLinks.length,\n      total_found: existingLinks.length\n    }\n  };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-688,208],"id":"98c6ba31-8d27-4f65-9c69-0672e199f7cb","name":"Extract & Check Continue"},{"parameters":{"jsCode":"// n8n Code Node: Inicializace pro multi-stránkové loopování\n// Připraví proměnné pro postupné scrapování stránek\n\n//const max_results = $json.maxResults || 10;\nconst city = ($input.first().json.city || '').trim().toLowerCase();\nconst term = ($input.first().json.term || '').trim().toLowerCase();\n\n// ✅ TATO ČÁST ŘEŠÍ TVŮJ POŽADAVEK\n// Spojí term a city, pouze pokud nejsou prázdné\nconst searchQuery = [term, city].filter(Boolean).join('+');\n\n\n// Inicializace loop proměnných [cite: 3]\nreturn {\n  json: {\n    // Config hodnoty\n    //maxResults: max_results,\n    city: city,\n    term: term,\n\n    // Loop proměnné\n    current_page: 1,\n    collected_links: [],\n    total_pages: 0,\n    finished: false,\n\n    // URL pro první stránku s opraveným skládáním\n    current_url: `https://www.firmy.cz/?q=${searchQuery}`\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1456,288],"id":"5dbfddc0-89e9-4fa3-b5fa-2b5fc28d2375","name":"Initialize Loop"},{"parameters":{"assignments":{"assignments":[{"id":"a3119cd0-b14b-4e3b-9533-89f8aa9b71bd","name":"city","value":"Chrudim","type":"string"},{"id":"fc8ff6c7-105c-48c5-b1c4-b253c8d7a545","name":"term","value":"kadeřnictví","type":"string"},{"id":"d5c14b05-6130-42dc-8bf2-e71b7da28cc3","name":"maxResults","value":150,"type":"number"},{"id":"b893d58b-2b18-488b-97e9-d93467c1d901","name":"currentPage","value":2,"type":"number"},{"id":"8f8b4922-5a57-4f4e-89af-db0c0308def6","name":"collectedLinks","value":"[]","type":"array"}]},"options":{"dotNotation":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1648,288],"id":"22874cc1-d63a-4a27-a4c0-fd14a4487a2c","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"collected_links","options":{}},"id":"e34804c5-d2bc-4ea3-9da4-858ab266aee2","name":"📋 Item Lists (Split URLs)","type":"n8n-nodes-base.itemLists","position":[-336,80],"typeVersion":3},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"1","leftValue":"={{ $json.should_continue }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}},{"id":"febb8b92-e82c-488b-8c41-5e6a85bc0924","leftValue":"={{ $json.collected_links.length }}","rightValue":"={{ $json.maxResults }}","operator":{"type":"number","operation":"gte"}},{"id":"d2791567-92c2-4ecf-9d3b-c613351d3fce","leftValue":"={{ $json.current_page }}","rightValue":"={{ $json.total_pages + 1}}","operator":{"type":"number","operation":"gte"}}],"combinator":"or"},"options":{}},"id":"aa0b8a77-1481-4b3f-b690-82ce3094ba01","name":"🤔 Continue Loop?","type":"n8n-nodes-base.if","position":[-496,208],"typeVersion":2},{"parameters":{"url":"={{ $json.currentUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"}]},"options":{}},"id":"c91c6446-3780-44dc-94d8-a1be54fc62f8","name":"🔍 Scrape Current Page","type":"n8n-nodes-base.httpRequest","position":[-880,208],"typeVersion":4.2,"retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{},"id":"c467a337-dc89-4524-aa5c-12b75bf3a439","name":"🚀 Start","type":"n8n-nodes-base.manualTrigger","position":[-1824,288],"typeVersion":1}],"connections":{"TMP VAR 2":{"main":[[{"node":"MAIN VAR 1","type":"main","index":0}]]},"TMP VAR 1":{"main":[[{"node":"TMP VAR 2","type":"main","index":0}]]},"MAIN VAR 2":{"main":[[{"node":"🔍 Scrape Current Page","type":"main","index":0}]]},"MAIN VAR 1":{"main":[[{"node":"MAIN VAR 2","type":"main","index":0}]]},"🔄 Split in Batches (1)":{"main":[[{"node":"📦 Aggregate All Data","type":"main","index":0}],[{"node":"⏱️ Wait (Rate Limit)","type":"main","index":0}]]},"⏱️ Wait (Rate Limit)":{"main":[[{"node":"📋 Scrape Business","type":"main","index":0}]]},"📋 Scrape Business":{"main":[[{"node":"🧹 Clean HTML1","type":"main","index":0}]]},"📦 Aggregate All Data":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"📋 Split Aggregated Data","type":"main","index":0}]]},"📋 Split Aggregated Data":{"main":[[{"node":"💾 Save All Results at Once","type":"main","index":0}]]},"🧹 Clean HTML1":{"main":[[{"node":"🎯 Smart Filter1","type":"main","index":0}]]},"🎯 Smart Filter1":{"main":[[{"node":"🔄 Split in Batches (1)","type":"main","index":0}]]},"Wait Between Pages":{"main":[[{"node":"TMP VAR 1","type":"main","index":0}]]},"Extract & Check Continue":{"main":[[{"node":"🤔 Continue Loop?","type":"main","index":0}]]},"Initialize Loop":{"main":[[{"node":"MAIN VAR 1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Initialize Loop","type":"main","index":0}]]},"📋 Item Lists (Split URLs)":{"main":[[{"node":"🔄 Split in Batches (1)","type":"main","index":0}]]},"🤔 Continue Loop?":{"main":[[{"node":"📋 Item Lists (Split URLs)","type":"main","index":0}],[{"node":"Wait Between Pages","type":"main","index":0}]]},"🔍 Scrape Current Page":{"main":[[{"node":"Extract & Check Continue","type":"main","index":0}]]},"🚀 Start":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"aa1e7332-9929-4acc-b6ca-7c68bcf99a8d","triggerCount":0,"shared":[{"createdAt":"2025-08-13T10:02:46.924Z","updatedAt":"2025-08-13T10:02:46.924Z","role":"workflow:owner","workflowId":"ufHaaE7v5eh5qb9J","projectId":"zpk8zHoHWXf3cQ7T"}],"tags":[]}