phone_agent_1_0-eoGpNpl3wKOmBSNj.json
{"createdAt":"2025-08-13T10:03:28.737Z","updatedAt":"2025-08-14T20:47:54.000Z","id":"eoGpNpl3wKOmBSNj","name":"Phone_Agent_1_0","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"webhook-call-trigger","options":{}},"name":"Call Trigger (Webhook)","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-896,192],"webhookId":"webhook-call-trigger","id":"bf206e72-c325-41e9-af06-79ebbd307daa"},{"parameters":{"url":"https://api.elevenlabs.io/v1/speech-to-speech/...","options":{}},"name":"Speech-to-Text (ElevenLabs Scribe)","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-720,192],"id":"1b8c6bbf-3e33-4b21-84cb-94ac1a0234d4"},{"parameters":{"model":"o4-mini","prompt":"You are an AI receptionist for a nail salon. The user said: '{{ $json.transcription }}'.\n\nDetermine the user's intent from the following options: BOOK_APPOINTMENT, CANCEL_APPOINTMENT, ASK_QUESTION.\nExtract the following entities if available: service, date, time, name.\n\nReturn a JSON object with the intent and entities. For example:\n{ \"intent\": \"BOOK_APPOINTMENT\", \"entities\": { \"service\": \"manicure\", \"date\": \"tomorrow\", \"time\": \"2pm\", \"name\": \"Jane\" } }","options":{},"requestOptions":{}},"name":"AI Intent Recognition (OpenAI)","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[-544,192],"id":"1427c189-7af9-4d16-a49d-8718bcc44edb","credentials":{"openAiApi":{"id":"dcbK0UUEUVUAIWzf","name":"já"}}},{"parameters":{},"name":"Route by Intent","type":"n8n-nodes-base.switch","typeVersion":1,"position":[-368,160],"id":"8359d988-d4a4-4959-bc55-882e17e65608"},{"parameters":{"calendar":"primary","start":"={{ $json.entities.date }} {{ $json.entities.time }}","end":"={{ $json.entities.date }} {{ $json.entities.time + ' + 1 hour' }}","additionalFields":{}},"name":"Create Google Calendar Event","type":"n8n-nodes-base.googleCalendar","typeVersion":1,"position":[0,0],"id":"64a39932-dc0d-4aa0-a38e-0730e17845f1","credentials":{"googleCalendarOAuth2Api":{"id":"yuyZ7YuYhKtRBQEx","name":"Google Calendar account"}}},{"parameters":{"url":"https://api.elevenlabs.io/v1/text-to-speech/...","authentication":"headerAuth","options":{}},"name":"Text-to-Speech (ElevenLabs)","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[192,240],"id":"50ec9001-2839-4b65-810f-b9ba1fa7f5d2"},{"parameters":{"method":"POST","url":"https://api.twilio.com/2010-04-01/Accounts/YOUR_TWILIO_SID/Calls/{{ $json.call_sid }}.json","authentication":"predefined","options":{}},"name":"Send Voice Response (Twilio)","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[384,240],"id":"298f8f91-2e10-4753-8b4c-997ed59c5fa1"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.entities.date }}","operation":"isEmpty"}]}},"name":"Date/Time Provided?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-208,32],"id":"f5e6f289-4627-4edb-953c-d449c3d21930"},{"parameters":{"options":{}},"name":"Set 'Ask for Time' Response","type":"n8n-nodes-base.set","typeVersion":1,"position":[-64,208],"id":"9cdfa15c-10b9-47c6-8c51-e5e7a5acb36a"},{"parameters":{"options":{}},"name":"Set 'Confirmation' Response","type":"n8n-nodes-base.set","typeVersion":1,"position":[208,0],"id":"a62b486b-934e-4fd8-8555-6a1715db9b8c"},{"parameters":{"options":{}},"name":"Set 'Answer Hours' Response","type":"n8n-nodes-base.set","typeVersion":1,"position":[-64,384],"id":"69f84dea-5bff-4b01-a6df-c0f8fe170f5d"}],"connections":{"Call Trigger (Webhook)":{"main":[[{"node":"Speech-to-Text (ElevenLabs Scribe)","type":"main","index":0}]]},"Speech-to-Text (ElevenLabs Scribe)":{"main":[[{"node":"AI Intent Recognition (OpenAI)","type":"main","index":0}]]},"AI Intent Recognition (OpenAI)":{"main":[[{"node":"Route by Intent","type":"main","index":0}]]},"Route by Intent":{"main":[[{"node":"Date/Time Provided?","type":"main","index":0}],[{"node":"Set 'Answer Hours' Response","type":"main","index":0}]]},"Create Google Calendar Event":{"main":[[{"node":"Set 'Confirmation' Response","type":"main","index":0}]]},"Text-to-Speech (ElevenLabs)":{"main":[[{"node":"Send Voice Response (Twilio)","type":"main","index":0}]]},"Date/Time Provided?":{"main":[[{"node":"Create Google Calendar Event","type":"main","index":0}],[{"node":"Set 'Ask for Time' Response","type":"main","index":0}]]},"Set 'Ask for Time' Response":{"main":[[{"node":"Text-to-Speech (ElevenLabs)","type":"main","index":0}]]},"Set 'Confirmation' Response":{"main":[[{"node":"Text-to-Speech (ElevenLabs)","type":"main","index":0}]]},"Set 'Answer Hours' Response":{"main":[[{"node":"Text-to-Speech (ElevenLabs)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3f113496-0dd2-482d-8a5b-3f99da2411a9","triggerCount":0,"tags":[]}