smart-mail-agent-1B7UywC4zR0yjdFp.json
{"createdAt":"2025-08-13T10:07:02.289Z","updatedAt":"2025-08-29T10:04:17.000Z","id":"1B7UywC4zR0yjdFp","name":"Smart Mail Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"📧 **EMAIL VALIDATION FIX**\n\n**PROBLÉM:**\n❌ Některé firmy mají email \"N/A\"\n❌ Workflow padal na chybějících emailech\n❌ Zastavoval celý proces\n\n**ŘEŠENÍ:**\n✅ Graceful handling - přeskočí neplatné emaily\n✅ Filter Valid Emails - pouze platné emaily jdou dál\n✅ Logování - víme, které firmy byly přeskočeny\n\n**CO SE DĚJE:**\n• Parse AI Response: označí neplatné emaily jako skip: true\n• Filter Valid Emails: přeskočí položky s skip: true\n• Send Email: zpracuje pouze platné emaily\n• Workflow pokračuje bez přerušení\n\n**VÝSLEDEK:**\n• Žádné chyby při neplatných emailech\n• Workflow běží plynule\n• Sledování přeskočených firem","height":320,"width":350},"id":"c6320802-e89f-4a72-9d88-a672c5a39e70","name":"📧 Email Validation Fix","type":"n8n-nodes-base.stickyNote","position":[-3072,-1840],"typeVersion":1},{"parameters":{"content":"⚡ **OPTIMALIZACE AI RATING**\n\n**PŘED:**\n❌ 200+ řádků promptu\n❌ Složité analýzy\n❌ Pomalé zpracování\n❌ Vysoké token náklady\n\n**PO:**\n✅ 20 řádků promptu\n✅ Rychlé kritéria\n✅ Optimalizované zpracování\n✅ Nižší náklady\n\n**ÚSPORY:**\n• ~80% méně tokenů\n• ~3x rychlejší zpracování\n• Stejná kvalita hodnocení\n• Nižší API náklady\n\n**ZACHOVÁNO:**\n• Rating 0-5 systém\n• České vysvětlení\n• Marketing potential\n• Email template logic","height":300,"width":350},"id":"7b429768-4dd0-421a-9af1-bbea0962f6d1","name":"⚡ AI Optimization","type":"n8n-nodes-base.stickyNote","position":[-3504,-1648],"typeVersion":1},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-1312,-736],"id":"c2a64a83-85db-42c3-848f-120879b393da","name":"DeepSeek Chat Model1","credentials":{"deepSeekApi":{"id":"XQXgm6mCKAHVpU2G","name":"DeepSeek account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-2480,-704],"id":"dcf093ea-1a7c-49b4-8a9f-189bc2efe862","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"XQXgm6mCKAHVpU2G","name":"DeepSeek account"}}},{"parameters":{"content":"🎛️ **CENTRALIZOVANÁ KONFIGURACE**\n\n**JEDINÝ ZDROJ PRAVDY:**\n✅ Master Configuration node obsahuje VŠE\n✅ Žádné duplicitní nastavení\n✅ Snadná údržba a změny\n\n**CO OBSAHUJE:**\n• Workflow nastavení (test_mode, batch_size, wait_time)\n• Kontaktní údaje (email, telefon, jméno)\n• Service type a rating threshold\n\n**CO ZŮSTÁVÁ V NODES:**\n• Google Sheets ID - v Read/Update nodes\n• Gmail credentials - v Send Email node\n• Sheets credentials - v Google Sheets nodes\n\n**VÝHODY:**\n• Jedno místo pro business logic\n• Credentials na správných místech\n• Snadné přepínání mezi test/produkce\n• Žádné zapomenuté nastavení\n\n**PŘÍKLAD ZMĚNY:**\nChceš změnit email? → Uprav Master Configuration → Hotovo!","height":360,"width":350},"id":"dd7d0533-b0d0-432c-8e3e-7355a9de8abb","name":"🎛️ Centralized Config","type":"n8n-nodes-base.stickyNote","position":[-3088,352],"typeVersion":1},{"parameters":{"content":"🎯 **CENTRALIZOVANÉ KONTAKTNÍ ÚDAJE**\n\n**JEDINÝ ZDROJ PRAVDY:**\n✅ Company Setup node obsahuje všechny kontaktní údaje\n✅ Gmail node automaticky používá tyto údaje\n✅ Žádné duplicitní nastavení\n\n**CO SE POUŽÍVÁ:**\n• sender_name: 'Andreas Brudovský'\n• email_address: 'andrasbrudovskyy@gmail.com'\n• phone_number: '+420 735 913 637'\n• company_name: 'Andreas Brudovský'\n\n**VÝHODY:**\n• Jedno místo pro změny\n• Konzistentní údaje\n• Snadná údržba\n• Žádné konflikty","height":280,"width":350},"id":"78040113-fdd7-47dd-ac45-fcb97ca76ee6","name":"🎯 Centralized Contacts","type":"n8n-nodes-base.stickyNote","position":[-3088,144],"typeVersion":1},{"parameters":{"content":"📧 **EMAIL STATUS FILTER**\n\n**Nový filtr:** Filter Not Sent Emails\n\n**Funkce:**\n• Kontroluje sloupec 'Status' v Google Sheets\n• Přeskočí firmy s Status = 'sent'\n• Zpracuje pouze nové/neodeslané emaily\n\n**Výhody:**\n• Žádné duplikátní emaily\n• Bezpečné opakované spouštění\n• Sledování pokroku\n\n**Status hodnoty:**\n• 'sent' = email již odeslán\n• prázdné/null = email ještě neodeslán","height":240,"width":350},"id":"019d458a-250d-4478-bf08-7961ac143215","name":"📧 Email Status Filter","type":"n8n-nodes-base.stickyNote","position":[-3936,-1360],"typeVersion":1},{"parameters":{"content":"🔧 **DUPLIKÁTNÍ EMAILY - OPRAVENO**\n\n**Problém vyřešen:**\n✅ Company Setup → Code node s runOnceForEachItem\n✅ Generate Email používá .item.json\n✅ Parse AI Response správná data\n\n**Výsledek:**\n• Žádné duplikátní emaily\n• Každá firma dostane unikátní email\n• Správné business data pro každou firmu","height":200,"width":350},"id":"53a92b08-0789-4e9c-85e8-a0d7f47afb2f","name":"🔧 Fixed Duplicates","type":"n8n-nodes-base.stickyNote","position":[-3072,-1376],"typeVersion":1},{"parameters":{"content":"⚡ **INTELLIGENT CHUNKING**\n\n**Problém vyřešen:**\n✅ AI token limits - max 15 firem na call\n✅ Rate limiting - inteligentní dávkování\n✅ API náklady - optimalizované batch size\n\n**Jak to funguje:**\n• Chunk Businesses (15 per batch)\n• Batch AI Business Rating\n• Parse Batch AI Ratings\n• Loop zpět pro další chunk\n\n**Výhody:**\n• Žádné AI token limit chyby\n• Optimalizované API calls\n• Spolehlivé zpracování stovek firem","height":280,"width":350},"id":"fb02a203-aa79-4ac9-9ba4-3cd10088f76e","name":"⚡ Intelligent Chunking","type":"n8n-nodes-base.stickyNote","position":[-2640,-1808],"typeVersion":1},{"parameters":{"jsonSchemaExample":"{\n  \"ratings\": [\n    {\n      \"business_name\": \"Autoservis Praha\",\n      \"rating\": 4,\n      \"reasoning\": \"Lokální autoservis pouze se základní Facebook stránkou - vysoký potenciál pro profesionální služby\",\n      \"marketing_potential\": \"high\",\n      \"recommended_services\": [\"profesionální služby\", \"konzultace\", \"implementace\"],\n      \"industry_insights\": \"Automobilový průmysl v ČR roste, online přítomnost je klíčová pro získání zákazníků\",\n      \"competitive_advantage\": \"Online objednávky, fotogalerie prací, recenze zákazníků\"\n    },\n    {\n      \"business_name\": \"Restaurace U Zlaté rybky\",\n      \"rating\": 3,\n      \"reasoning\": \"Restaurace s nějakými službami, ale s prostorem pro zlepšení\",\n      \"marketing_potential\": \"medium\",\n      \"recommended_services\": [\"optimalizace\", \"vylepšení\"],\n      \"industry_insights\": \"Gastronomický sektor v ČR je konkurenční, online objednávky jsou standardem\",\n      \"competitive_advantage\": \"Online menu, rezervace stolů, doručování\"\n    }\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-2192,-736],"id":"b49fc789-6e56-45c2-bf6a-1e797e2e8b87","name":"Structured Output Parser1"},{"parameters":{"jsCode":"// Generate summary report of the email campaign\nconst allItems = $input.all();\n\nlet totalProcessed = 0;\nlet totalEmailsSent = 0;\nlet highPriorityCount = 0;\nlet mediumPriorityCount = 0;\nlet lowPriorityCount = 0;\nlet errors = [];\n\nfor (const item of allItems) {\n  totalProcessed++;\n  \n  if (item.json.success) {\n    totalEmailsSent++;\n    \n    switch(item.json.priority) {\n      case 'high':\n        highPriorityCount++;\n        break;\n      case 'medium':\n        mediumPriorityCount++;\n        break;\n      case 'low':\n        lowPriorityCount++;\n        break;\n    }\n  } else {\n    errors.push(item.json.error || 'Unknown error');\n  }\n}\n\nconst report = {\n  timestamp: new Date().toISOString(),\n  total_processed: totalProcessed,\n  emails_sent: totalEmailsSent,\n  success_rate: totalProcessed > 0 ? ((totalEmailsSent / totalProcessed) * 100).toFixed(2) + '%' : '0%',\n  priority_breakdown: {\n    high: highPriorityCount,\n    medium: mediumPriorityCount,\n    low: lowPriorityCount\n  },\n  errors: errors,\n  test_mode: $('Master Configuration').first().json.test_mode\n};\n\nreturn report;"},"id":"ead8ffb0-fb83-480b-b9b3-e658c8801ef8","name":"Generate Summary Report","type":"n8n-nodes-base.code","position":[-1392,-1168],"typeVersion":2},{"parameters":{"amount":"={{ $('Master Configuration').first().json.wait_time }}","unit":"seconds"},"id":"20e93929-9eef-4392-90db-b4f9b65dddca","name":"Wait Between Emails","type":"n8n-nodes-base.wait","position":[-80,-976],"typeVersion":1,"webhookId":"caa4c0a7-1ddc-4dbb-8de0-16d3925441bd"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"skip-check","operator":{"type":"boolean","operation":"notEquals"},"leftValue":"={{ $json.skip }}","rightValue":true}],"combinator":"and"},"options":{}},"id":"b387a7b8-e6cb-47aa-a133-b765aff53b82","name":"Filter Valid Emails","type":"n8n-nodes-base.filter","position":[-688,-976],"typeVersion":2.2},{"parameters":{"sendTo":"={{ $json.to }}","subject":"={{ $json.subject }}","emailType":"text","message":"={{ $json.body }}","options":{"appendAttribution":false,"senderName":"={{ $('Master Configuration').first().json.sender_name }}","replyTo":"={{ $('Master Configuration').first().json.email_address }}"}},"id":"6647507d-1bc6-4856-98df-277e3fb8e521","name":"Send Email","type":"n8n-nodes-base.gmail","position":[-496,-976],"typeVersion":2.1,"webhookId":"763bbad5-2836-4875-ae49-d372af3bb720","credentials":{"gmailOAuth2":{"id":"3M0CLo4vVbFsJnGB","name":"andreasbrudovskyy@gmail acc"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Parse AI response and prepare for email sending\nconst aiResponse = $input.item.json.output;\nconst businessData = $('Prepare AI Data').item.json.business_data;\nconst testMode = $('Master Configuration').first().json.test_mode;\nconst testEmail = $('Master Configuration').first().json.test_email;\n\n// Determine recipient email\nlet recipientEmail = businessData.email;\nlet subjectPrefix = '';\n\nif (testMode) {\n  recipientEmail = testEmail;\n  subjectPrefix = '[TEST] ';\n}\n\n// Handle invalid email addresses gracefully\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!recipientEmail || recipientEmail === '' || recipientEmail === 'N/A' || !emailRegex.test(recipientEmail)) {\n  // Skip this business instead of throwing error\n  return {\n    skip: true,\n    reason: `Skipping ${businessData.company_name} - invalid email: ${recipientEmail}`,\n    business_data: businessData\n  };\n}\n\n// Additional validation for production mode\nif (!testMode) {\n  // Skip common invalid emails\n  const invalidEmails = ['info@', 'admin@', 'noreply@', 'test@', 'example@'];\n  const isInvalid = invalidEmails.some(invalid => recipientEmail.toLowerCase().includes(invalid));\n  \n  if (isInvalid) {\n    return {\n      skip: true,\n      reason: `Skipping ${businessData.company_name} - generic email: ${recipientEmail}`,\n      business_data: businessData\n    };\n  }\n}\n\nreturn {\n  to: recipientEmail,\n  subject: subjectPrefix + (aiResponse.subject || 'Profesionální webové stránky'),\n  body: aiResponse.body || 'Email body not generated properly',\n  priority: aiResponse.priority || 'medium',\n  business_data: businessData,\n  test_mode: testMode,\n  skip: false\n};"},"id":"8251e08f-a5e5-4929-9aea-6e154a97fc12","name":"Parse AI Response","type":"n8n-nodes-base.code","position":[-848,-976],"typeVersion":2},{"parameters":{"jsonSchemaExample":"{\n  \"subject\": \"Profesionální webové stránky pro vaši společnost\",\n  \"body\": \"Vážený pane/paní,\\n\\nVšiml/a jsem si, že vaše společnost...\",\n  \"priority\": \"high\"\n}"},"id":"9aa2950c-29fa-45fe-9b58-1ffefeaf8775","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[-1040,-704],"typeVersion":1.2},{"parameters":{"promptType":"define","text":"=## BUSINESS DATA\n{{ $('Prepare AI Data').item.json.business_data.toJsonString() }}\n\n## YOUR COMPANY INFO\n{{ $('Master Configuration').first().json.toJsonString() }}\n\n## SERVICE FOCUS\n{{ $('Prepare AI Data').item.json.service_focus }}\n\n## RATING & PRIORITY\nRating: {{ $('Prepare AI Data').item.json.business_data.rating }}/5\nPriority: {{ $('Prepare AI Data').item.json.urgency_level }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=## ROLE\nJsi expertní marketingový specialista pro {{ $('Master Configuration').first().json.service_type }} služby v České republice. Tvým úkolem je vytvořit personalizovaný cold email v češtině.\n\n## DŮLEŽITÉ PRAVIDLA\n\n**1. KONTAKTNÍ ÚDAJE - KRITICKÉ:**\n- V emailu MUSÍŠ použít KONTAKTNÍ ÚDAJE ODESÍLATELE ({{ $('Master Configuration').first().json.sender_name }}, {{ $('Master Configuration').first().json.email_address }}, {{ $('Master Configuration').first().json.phone_number }})\n- NIKDY nepoužívej kontaktní údaje příjemce v podpisu ani se za ně neprezentuj!\n- Podpis musí obsahovat: {{ $('Master Configuration').first().json.sender_name }}, {{ $('Master Configuration').first().json.email_address }}, {{ $('Master Configuration').first().json.phone_number }}\n- Předmět ponechej jednoduchý, tedy jenom jaká služba je propagována\n\n**2. PERSONALIZACE:**\n- Použij obor: {{ $('Prepare AI Data').item.json.business_data.industry }}\n\n- Dále vzkaž že například u webdesignu, by byla nabídka taková, že se by se firmě prvně ukázal zadarmo návrh webových stránek, a pokud by to bylo schváleno tak bychom se domluvili na ceně\n\n**4. STRUKTURA EMAILU:**\n1. Oslovení (Vážený pane/paní)\n2. Personalizovaný úvod\n3. Problém (co jim chybí)\n4. Řešení (jak jim pomůžeme) + jemné zmínky o výhodách\n5. Dále vzkaž že například u webdesignu, by byla nabídka taková, že se by se firmě prvně ukázal zadarmo návrh webových stránek, a pokud by to bylo schváleno tak bychom se domluvili na ceně\n6. Call to action (konkrétní další krok)\n7. Podpis (profesionální formát s firmou)\n-tohle vše zanechej jednoduché, ať to nepůsobí jako spam mail\n\n\n**5. RATING-BASED PŘÍSTUP:**\n- Rating 4-5: \"Vytvoříme profesionální {{ $('Master Configuration').first().json.service_type }} řešení od základů\"\n- Rating 3: \"Vylepšíme vaše současné {{ $('Master Configuration').first().json.service_type }} možnosti\"\n- Rating 1-2: \"Konzultace a analýza {{ $('Master Configuration').first().json.service_type }} možností\"\n- Rating NEZMIŇUJ ve finálním mailu!\n\n**6. DYNAMICKÉ CALL TO ACTION:**\n- Vygeneruj 1-2 relevantní call to action pro {{ $('Master Configuration').first().json.service_type }}\n- Použij konkrétní akce: online schůzka, nabídka, konzultace, demo\n- Přizpůsob oboru firmy: {{ $('Prepare AI Data').item.json.business_data.industry }}\n- Použij telefon: {{ $('Master Configuration').first().json.phone_number }}\n\n## OUTPUT FORMAT\nVráť JSON objekt:\n{\n  \"subject\": \"[Předmět emailu]\",\n  \"body\": \"[Tělo emailu v češtině s tvými kontaktními údaji]\",\n  \"priority\": \"high/medium/low\"\n}\n\n## PROFESIONÁLNÍ PODPIS\nPoužij tento formát:\n\nS pozdravem,\n{{ $('Master Configuration').first().json.sender_name }}\n{{ $('Master Configuration').first().json.email_address }}\n{{ $('Master Configuration').first().json.phone_number }}\n\nVytvoř personalizovaný email pro firmu {{ $('Prepare AI Data').item.json.business_data.company_name }}."}]},"batching":{}},"id":"18782efe-8e0a-49ca-8584-dc8e00f6cc96","name":"Generate Personalized Email","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[-1280,-976],"typeVersion":1.7},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Prepare data for AI email generation\nconst business = $input.item.json;\n\n// Handle both Google Sheets format and AI rating format\nconst businessData = {\n  company_name: business['Business Name'] || business.business_name || 'Unknown Company',\n  contact_person: business.Contact_Person || business.Owner || 'Business Owner',\n  email: business.Email || business.email || '',\n  phone: business.Phone || business.phone || '',\n  website: business.Website || business.website || '',\n  address: business['Full Address'] || business.address || '',\n  city: business.City || business.city || '',\n  industry: business.Industry || business.industry || '',\n  rating: business.rating || 0,\n  reasoning: business.reasoning || '',\n  marketing_potential: business.marketing_potential || 'medium',\n  recommended_services: business.recommended_services || [],\n  industry_insights: business.industry_insights || '',\n  competitive_advantage: business.competitive_advantage || '',\n  template_type: business.email_template || 'medium_priority'\n};\n\n// Create personalized prompt based on rating\nlet serviceFocus = '';\nlet urgencyLevel = '';\n\nif (businessData.rating >= 4) {\n  serviceFocus = 'professional website development';\n  urgencyLevel = 'high priority';\n} else if (businessData.rating >= 3) {\n  serviceFocus = 'website upgrade and optimization';\n  urgencyLevel = 'medium priority';\n} else {\n  serviceFocus = 'website consultation and improvement';\n  urgencyLevel = 'low priority';\n}\n\nreturn {\n  business_data: businessData,\n  service_focus: serviceFocus,\n  urgency_level: urgencyLevel,\n  template_type: businessData.template_type\n};"},"id":"3e789d09-0c4c-46da-a199-9b2343d54567","name":"Prepare AI Data","type":"n8n-nodes-base.code","position":[-1456,-976],"typeVersion":2},{"parameters":{"batchSize":"={{ $('Master Configuration').first().json.batch_size }}","options":{}},"id":"3a0a652a-ac32-4f3d-a2b1-7d34f788865b","name":"Batch Process","type":"n8n-nodes-base.splitInBatches","position":[-1712,-1008],"typeVersion":3},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"rating-check","operator":{"type":"number","operation":"gte"},"leftValue":"={{ $json.rating }}","rightValue":"={{ $('Master Configuration').first().json.rating_threshold }}"}],"combinator":"and"},"options":{}},"id":"63e8f4a0-193f-4790-b2a9-ab523b6d8c55","name":"Filter High Priority (Rating 3-5)","type":"n8n-nodes-base.filter","position":[-1936,-1024],"typeVersion":2.2},{"parameters":{"jsCode":"// Parse batch AI ratings and return individual business items with ratings\nconst aiResponse = $input.item.json.output;\nconst batchRatings = aiResponse.ratings || [];\nconst allItems = $('Prepare Chunk for AI Rating').all();\n\n// Get the original businesses from the chunk\nconst originalBusinesses = allItems[0].json.businesses;\n\n// Create enriched business items with ratings\nconst enrichedItems = originalBusinesses.map(business => {\n  const businessName = business.business_name || '';\n  \n  // Find matching rating for this business\n  const rating = batchRatings.find(r => r.business_name === businessName);\n  \n  if (!rating) {\n    // Fallback if business not found in ratings\n    return {\n      ...business,\n      rating: 0,\n      reasoning: 'Business not found in AI ratings',\n      marketing_potential: 'low',\n      recommended_services: [],\n      industry_insights: '',\n      competitive_advantage: '',\n      email_template: 'low_priority',\n      ai_rated: true\n    };\n  }\n  \n  // Determine email template based on rating\n  let emailTemplate = 'low_priority';\n  if (rating.rating >= 4) {\n    emailTemplate = 'high_priority';\n  } else if (rating.rating >= 2) {\n    emailTemplate = 'medium_priority';\n  }\n  \n  // Combine business data with AI rating (simplified format)\n  const enrichedData = {\n    ...business,\n    rating: rating.rating,\n    reasoning: rating.reasoning || 'Hodnocení bez vysvětlení',\n    marketing_potential: rating.marketing_potential || 'medium',\n    recommended_services: rating.recommended_services || [],\n    industry_insights: rating.industry_insights || '',\n    competitive_advantage: rating.competitive_advantage || '',\n    email_template: emailTemplate,\n    ai_rated: true\n  };\n  \n  return enrichedData;\n});\n\nreturn enrichedItems;"},"id":"07a65460-c045-4ada-b5d7-b41306c43b74","name":"Parse Batch AI Ratings","type":"n8n-nodes-base.code","position":[-2112,-928],"typeVersion":2},{"parameters":{"promptType":"define","text":"=Businesses Data:\n{{ $('Prepare Chunk for AI Rating').first().json.businesses.toJsonString() }}\n\nService Type: {{ $('Prepare Chunk for AI Rating').first().json.service_type }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Jsi AI marketing specialista pro {{ $('Prepare Chunk for AI Rating').first().json.service_type }} služby v ČR. Ohodnoť každou firmu 0-5 podle potenciálu pro {{ $('Prepare Chunk for AI Rating').first().json.service_type }}.\n\n**KRITÉRIA:**\n5: Žádné {{ $('Prepare Chunk for AI Rating').first().json.service_type }} - vysoký potenciál\n4: Základní {{ $('Prepare Chunk for AI Rating').first().json.service_type }} - potřebuje vylepšení\n3: Nějaké {{ $('Prepare Chunk for AI Rating').first().json.service_type }} - prostor pro optimalizaci\n2: Dobré {{ $('Prepare Chunk for AI Rating').first().json.service_type }} - omezený potenciál\n1: Vynikající {{ $('Prepare Chunk for AI Rating').first().json.service_type }} - minimální potenciál\n0: Nevhodné (velké firmy, státní instituce)\n\n**RYCHLÉ ANALÝZY:**\n- Bez webu/webnode/facebook reprezentace webu = Rating 4-5\n- Základní web = Rating 3\n- Pokročilý web = Rating 1-2\n- Malé firmy (1-10 zaměstnanců) = +1 rating\n- Velké firmy (50+) = -1 rating\n\n**OUTPUT:** JSON s ratings array:\n{\n  \"ratings\": [\n    {\n      \"business_name\": \"Název firmy\",\n      \"rating\": 4,\n      \"reasoning\": \"Krátké vysvětlení v češtině\",\n      \"marketing_potential\": \"high/medium/low\"\n    }\n  ]\n}\n\nAnalyzuj všechny firmy a vrať hodnocení."}]},"batching":{}},"id":"89472445-8330-4699-b7ea-1f834b3d2a49","name":"Batch AI Business Rating","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[-2416,-928],"typeVersion":1.7,"retryOnFail":true},{"parameters":{"jsCode":"// Prepare chunk of businesses for AI rating\nconst allItems = $input.all();\nconst serviceType = allItems[0].json.service_type;\n\n// Extract businesses from this chunk\nconst businesses = allItems.map(item => {\n  const business = item.json;\n  return {\n    business_name: business.business_name || '',\n    description: business.description || '',\n    website: business.website || '',\n    all_websites: business.all_websites || '',\n    industry: business.industry || '',\n    city: business.city || '',\n    address: business.address || '',\n    phone: business.phone || '',\n    email: business.email || '',\n    facebook: business.facebook || '',\n    instagram: business.instagram || '',\n    linkedin: business.linkedin || '',\n    twitter: business.twitter || '',\n    youtube: business.youtube || '',\n    opening_hours: business.opening_hours || '',\n    ico: business.ico || ''\n  };\n});\n\nreturn {\n  businesses: businesses,\n  service_type: serviceType,\n  chunk_size: businesses.length,\n  chunk_number: $('Chunk Businesses (15 per batch)').context.currentBatchIndex + 1\n};"},"id":"e3bdcde8-e4cc-4225-b5af-18d4d2e1893d","name":"Prepare Chunk for AI Rating","type":"n8n-nodes-base.code","position":[-2576,-928],"typeVersion":2},{"parameters":{"batchSize":15,"options":{}},"id":"c66a6955-9e84-41f5-ae6e-a85cf4797cf1","name":"Chunk Businesses (15 per batch)","type":"n8n-nodes-base.splitInBatches","position":[-2832,-960],"typeVersion":3},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Prepare individual business for processing\nconst business = $input.item.json;\nconst serviceType = $('Master Configuration').first().json.service_type;\n\n// Prepare business data\nreturn {\n  business_name: business['Business Name'] || '',\n  description: business.Description || '',\n  website: business.Website || '',\n  all_websites: business['All Websites'] || '',\n  industry: business.Industry || '',\n  city: business.City || '',\n  address: business['Full Address'] || '',\n  phone: business.Phone || '',\n  email: business.Email || '',\n  facebook: business.Facebook || '',\n  instagram: business.Instagram || '',\n  linkedin: business.LinkedIn || '',\n  twitter: business.Twitter || '',\n  youtube: business.YouTube || '',\n  opening_hours: business['Opening Hours'] || '',\n  ico: business.ICO || '',\n  // Keep original data for later use\n  original_data: business,\n  service_type: serviceType\n};"},"id":"137bf5d0-c9d0-4d15-88f5-027333765167","name":"Batch Prepare Business Data","type":"n8n-nodes-base.code","position":[-3040,-960],"typeVersion":2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"email-check","operator":{"type":"string","operation":"exists"},"leftValue":"={{ $json.Email }}","rightValue":""},{"id":"business-name-check","operator":{"type":"string","operation":"exists"},"leftValue":"={{ $json['Business Name'] }}","rightValue":""},{"id":"6d9919c9-38b9-47dc-b98b-7221fabf82c6","leftValue":"={{ $json.Status }}","rightValue":"sent","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"5a7556a0-0abf-4274-a79f-f29c926a419c","name":"Filter Valid Businesses","type":"n8n-nodes-base.filter","position":[-3232,-960],"typeVersion":2.2},{"parameters":{"documentId":{"__rl":true,"value":"1e7PxPVzUyiWlvygeoTdenfq7vqDZqG2N2lH-G4F5ZSs","mode":"list","cachedResultName":"n8n firmyCZ scrape","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1e7PxPVzUyiWlvygeoTdenfq7vqDZqG2N2lH-G4F5ZSs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"List 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1e7PxPVzUyiWlvygeoTdenfq7vqDZqG2N2lH-G4F5ZSs/edit#gid=0"},"options":{}},"id":"f823f01b-345c-4fad-ac33-740c31467157","name":"Read Google Sheet","type":"n8n-nodes-base.googleSheets","position":[-3424,-960],"typeVersion":4.6,"credentials":{"googleSheetsOAuth2Api":{"id":"3ckXjDbOIbpiK9so","name":"andreasbrudovskyy gmail"}}},{"parameters":{"assignments":{"assignments":[{"id":"service-type","name":"service_type","type":"string","value":"webdesign"},{"id":"test-mode","name":"test_mode","type":"boolean","value":false},{"id":"test-email","name":"test_email","type":"string","value":"andreas.ab@seznam.cz"},{"id":"batch-size","name":"batch_size","type":"number","value":5},{"id":"wait-time","name":"wait_time","type":"number","value":5},{"id":"rating-threshold","name":"rating_threshold","type":"number","value":4},{"id":"company-name","name":"company_name","type":"string","value":"rec solutions"},{"id":"email-address","name":"email_address","type":"string","value":"andrasbrudovskyy@gmail.com"},{"id":"phone-number","name":"phone_number","type":"string","value":"+420 735 913 637"},{"id":"sender-name","name":"sender_name","type":"string","value":"Andreas Brudovský"}]},"options":{}},"id":"bca2d5c4-3225-4fe2-a238-a7c3fe8648db","name":"Master Configuration","type":"n8n-nodes-base.set","position":[-3616,-960],"typeVersion":3.4},{"parameters":{},"id":"8cc6a070-986f-4dc6-a7eb-bc1c17eb525a","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","position":[-3840,-960],"typeVersion":1},{"parameters":{"content":"🚨 **PRODUKČNÍ KONTROLNÍ SEZNAM**\n\n**PŘED PŘEPNUTÍM NA PRODUKCI:**\n\n1. ✅ **Kontaktní údaje**\n   • Zkontroluj Company Setup node\n   • Skutečný název firmy\n   • Skutečný email a telefon\n   • Skutečné jméno odesílatele\n\n2. ✅ **Test režim**\n   • Service Configuration: test_mode = false\n   • Otestuj s malým počtem firem\n   • Zkontroluj první emaily\n\n3. ✅ **API limity**\n   • Gmail: max 500 emailů/den\n   • OpenAI: dostatek kreditu\n   • Google Sheets: oprávnění\n\n4. ✅ **Bezpečnost**\n   • Žádné placeholder údaje\n   • Validace emailů aktivní\n   • Rate limiting nastaven\n\n**⚠️ VAROVÁNÍ:**\n• Emaily se odešlou na skutečné adresy\n• Nelze vrátit zpět\n• Sleduj bounce rate","height":400,"width":400},"id":"f0b3f784-30d4-4e09-bc9d-dd33af67eddd","name":"🚨 Production Checklist","type":"n8n-nodes-base.stickyNote","position":[-3936,144],"typeVersion":1},{"parameters":{"content":"🎯 **CUSTOMIZATION**\n\n**AI Prompts:**\n• AI Business Rating - kritéria hodnocení\n• Generate Email - styl emailů\n• Rating threshold - minimální rating\n\n**Email Templates:**\n• Šablony podle ratingu\n• Company Setup údaje\n• Personalizace proměnných\n\n**Business Logic:**\n• Rating criteria\n• Filtrování\n• Další služby\n\n**Safety:**\n• Vždy testuj s test_mode=true\n• Sleduj API limity","height":300,"width":320},"id":"c79f6ac2-593b-431a-9c4c-8069c2fd9e01","name":"🎯 Customization","type":"n8n-nodes-base.stickyNote","position":[-3280,0],"typeVersion":1},{"parameters":{"content":"📊 **PERFORMANCE**\n\n**Optimalizace:**\n• Batch size: 5-10 firem\n• Wait time: 30s mezi emaily\n• ~100-200 firem za hodinu\n\n**Limity:**\n• Gmail: 500 emailů/den\n• OpenAI: záleží na kreditu\n• Google Sheets: 100 requests/100s\n\n**Monitoring:**\n• Sleduj OpenAI API kredit\n• Kontroluj bounce rate\n• Zálohuj data pravidelně","height":280,"width":300},"id":"db9432fe-f710-40b0-b856-cd304b184c6d","name":"📊 Performance","type":"n8n-nodes-base.stickyNote","position":[-2400,-496],"typeVersion":1},{"parameters":{"content":"🔧 **TROUBLESHOOTING**\n\n**Emaily se neodesílají:**\n• Zkontroluj Gmail credentials\n• Ověř nastavení odesílatele\n\n**AI nefunguje:**\n• Zkontroluj OpenAI API credentials\n• Ověř API kredit\n\n**Google Sheets se neaktualizuje:**\n• Zkontroluj Google Sheets credentials\n• Ověř oprávnění k tabulce\n\n**Workflow se zastaví:**\n• Zkontroluj, že Code nodes mají:\n  mode: 'runOnceForEachItem'","height":320,"width":320},"id":"9aad1947-81b8-429e-acee-e5baeb49df86","name":"🔧 Troubleshooting","type":"n8n-nodes-base.stickyNote","position":[-2800,-496],"typeVersion":1},{"parameters":{"content":"🔄 **WORKFLOW FLOW**\n\n**1. Spuštění** → Manual Trigger\n**2. Konfigurace** → Service Configuration\n**3. Data** → Read Google Sheet\n**4. Filtrování** → Filter Valid Businesses\n**5. AI Rating** → Batch AI Business Rating\n**6. Priorita** → Filter High Priority (3-5)\n**7. Dávkování** → Batch Process\n**8. Emaily** → Generate → Send → Update\n**9. Čekání** → Wait Between Emails\n**10. Loop** → Zpět na další firmu","height":300,"width":350},"id":"749fe85e-0fbb-4a14-bdf5-44bfd21043ec","name":"🔄 Workflow Flow","type":"n8n-nodes-base.stickyNote","position":[-3296,-480],"typeVersion":1},{"parameters":{"content":"🔑 **CREDENTIALS**\n\n**Potřebné API klíče:**\n• Google Sheets OAuth2 - čtení/aktualizace\n• Gmail OAuth2 - odesílání emailů\n• OpenAI API - AI hodnocení a generování\n\n**TEST MODE:**\n• test_mode: true → emaily na test_email\n• test_mode: false → emaily na skutečné adresy\n\n**⚠️ DŮLEŽITÉ:**\n• Zkontroluj OpenAI API kredit\n• Ověř oprávnění k Google Sheets","height":280,"width":350},"id":"0c4b4f83-b3e4-4097-9400-79cdf6d41851","name":"🔑 Credentials","type":"n8n-nodes-base.stickyNote","position":[-3920,-16],"typeVersion":1},{"parameters":{"content":"🚀 **SMART MAIL AGENT**\n\n**ÚČEL:** Automatické hodnocení firem a odesílání personalizovaných emailů\n\n**RYCHLÝ START:**\n1. ✅ Zkontroluj credentials (Google Sheets, Gmail, OpenAI)\n2. ✅ Nastav test_mode=true pro testování\n3. ✅ Uprav Company Setup s tvými údaji\n4. ✅ Spusť workflow\n\n**KLÍČOVÁ NASTAVENÍ:**\n• test_mode: true/false\n• batch_size: 5-10 firem\n• wait_time: 30s mezi emaily\n• rating_threshold: 3 (minimální rating)\n\n**BEZPEČNOST:**\n⚠️ Vždy testuj před produkčním spuštěním\n⚠️ Sleduj OpenAI API kredit","height":320,"width":400},"id":"4c23118d-f4e4-4661-91cc-032b4bea0093","name":"📋 Quick Start Guide","type":"n8n-nodes-base.stickyNote","position":[-3936,-496],"typeVersion":1},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1e7PxPVzUyiWlvygeoTdenfq7vqDZqG2N2lH-G4F5ZSs","mode":"list","cachedResultName":"n8n firmyCZ scrape","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1e7PxPVzUyiWlvygeoTdenfq7vqDZqG2N2lH-G4F5ZSs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"List 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1e7PxPVzUyiWlvygeoTdenfq7vqDZqG2N2lH-G4F5ZSs/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Business Name":"={{ $('Parse AI Response').item.json.business_data.company_name }}","Status":"sent"},"matchingColumns":["Business Name"],"schema":[{"id":"Business Name","displayName":"Business Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Business URL","displayName":"Business URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Street","displayName":"Street","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Postal Code","displayName":"Postal Code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Full Address","displayName":"Full Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ICO","displayName":"ICO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Opening Hours","displayName":"Opening Hours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"All Phones","displayName":"All Phones","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"All Websites","displayName":"All Websites","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Facebook","displayName":"Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Instagram","displayName":"Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn","displayName":"LinkedIn","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter","displayName":"Twitter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"YouTube","displayName":"YouTube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Latitude","displayName":"Latitude","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Longitude","displayName":"Longitude","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"threadId","displayName":"threadId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"labelIds","displayName":"labelIds","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"2f3a713a-67a1-4e3b-bc4e-b1128d521688","name":"Update Google Sheet Status1","type":"n8n-nodes-base.googleSheets","position":[-288,-976],"typeVersion":4.6,"credentials":{"googleSheetsOAuth2Api":{"id":"3ckXjDbOIbpiK9so","name":"andreasbrudovskyy gmail"}}}],"connections":{"Wait Between Emails":{"main":[[{"node":"Batch Process","type":"main","index":0}]]},"Filter Valid Emails":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"Update Google Sheet Status1","type":"main","index":0}]]},"Parse AI Response":{"main":[[{"node":"Filter Valid Emails","type":"main","index":0}]]},"DeepSeek Chat Model1":{"ai_languageModel":[[{"node":"Generate Personalized Email","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Generate Personalized Email","type":"ai_outputParser","index":0}]]},"Generate Personalized Email":{"main":[[{"node":"Parse AI Response","type":"main","index":0}]]},"Prepare AI Data":{"main":[[{"node":"Generate Personalized Email","type":"main","index":0}]]},"Batch Process":{"main":[[{"node":"Generate Summary Report","type":"main","index":0}],[{"node":"Prepare AI Data","type":"main","index":0}]]},"Filter High Priority (Rating 3-5)":{"main":[[{"node":"Batch Process","type":"main","index":0}]]},"Parse Batch AI Ratings":{"main":[[{"node":"Chunk Businesses (15 per batch)","type":"main","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"Batch AI Business Rating","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Batch AI Business Rating","type":"ai_outputParser","index":0}]]},"Batch AI Business Rating":{"main":[[{"node":"Parse Batch AI Ratings","type":"main","index":0}]]},"Prepare Chunk for AI Rating":{"main":[[{"node":"Batch AI Business Rating","type":"main","index":0}]]},"Chunk Businesses (15 per batch)":{"main":[[{"node":"Filter High Priority (Rating 3-5)","type":"main","index":0}],[{"node":"Prepare Chunk for AI Rating","type":"main","index":0}]]},"Batch Prepare Business Data":{"main":[[{"node":"Chunk Businesses (15 per batch)","type":"main","index":0}]]},"Filter Valid Businesses":{"main":[[{"node":"Batch Prepare Business Data","type":"main","index":0}]]},"Read Google Sheet":{"main":[[{"node":"Filter Valid Businesses","type":"main","index":0}]]},"Master Configuration":{"main":[[{"node":"Read Google Sheet","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Master Configuration","type":"main","index":0}]]},"Update Google Sheet Status1":{"main":[[{"node":"Wait Between Emails","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b78e9bb3-d16e-4345-b1d9-568c64538c77","triggerCount":0,"shared":[{"createdAt":"2025-08-13T10:07:02.294Z","updatedAt":"2025-08-13T10:07:02.294Z","role":"workflow:owner","workflowId":"1B7UywC4zR0yjdFp","projectId":"zpk8zHoHWXf3cQ7T"}],"tags":[]}