ukradnuty-mail-agent-nevim-jak-funguje-ZzvAFf0lAcHTyBLk.json
{"createdAt":"2025-08-13T10:05:04.621Z","updatedAt":"2025-08-13T10:05:04.621Z","id":"ZzvAFf0lAcHTyBLk","name":"ukradnuty mail agent nevim jak funguje","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"e18c5e61-530e-4780-a3ad-fdbb88aa717d","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[720,100],"typeVersion":1},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"mode":"list","value":"n8ndocs","cachedResultName":"n8ndocs"},"options":{"pineconeNamespace":"docsmail"}},"id":"73a81077-bda9-4647-b914-6585d25fbb60","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[1140,0],"typeVersion":1},{"parameters":{"options":{}},"id":"cdfebc30-1822-4fdd-95e6-3461017c7c83","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[1020,220],"typeVersion":1.2},{"parameters":{"options":{}},"id":"64c73b3f-7394-44a9-966b-3e8d6dd231fc","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[1220,220],"typeVersion":1},{"parameters":{"chunkSize":200,"chunkOverlap":50,"options":{}},"id":"3131f3eb-0277-4a50-a83f-0079e60acc64","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[1260,380],"typeVersion":1},{"parameters":{"inputSource":"passthrough"},"id":"01633b3d-1ba7-4535-a4b6-92783e3b4c3f","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[880,1460],"typeVersion":1.1},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"You are a helpful assistant to send mails."}},"id":"59584dd7-9e68-4be9-9b9e-bb34a2cf5829","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1100,1460],"typeVersion":1.7},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"id":"779b2ea6-5fbf-45d1-a1e7-ac0534656376","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1060,1720],"typeVersion":1.2},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{}},"id":"e91ee0e4-e046-48ee-9d43-5d0f2470d615","name":"Gmail","type":"n8n-nodes-base.gmailTool","position":[1360,1720],"webhookId":"0efa4972-e3dc-4c40-a6cd-ebf1acbb1ead","typeVersion":2.1},{"parameters":{"options":{}},"id":"e14ce5be-2d00-412f-a2e3-1d7f1b1df15f","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[860,660],"webhookId":"e3978e41-4d95-4d3a-a2a1-b1f9f8c222bb","typeVersion":1.1},{"parameters":{"name":"Vectorstore_mails","description":"Use this Tool to get Email Information, you find all relevant mail adresses, you also give mail adresses."},"id":"ab41d61e-2b25-4c69-a345-e1ce32bea6de","name":"Vectorstore Mails","type":"@n8n/n8n-nodes-langchain.toolVectorStore","position":[1040,900],"typeVersion":1},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o","cachedResultName":"gpt-4o"},"options":{}},"id":"f49e0b46-ddad-4a41-8986-46d67cf726a1","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1280,1080],"typeVersion":1.2},{"parameters":{"name":"send_mail","description":"Use this tool to send mails.","workflowId":{"__rl":true,"mode":"list","value":"GLkrSkyYtlep3P6e","cachedResultName":"Send Mails Pinecone"},"workflowInputs":{"value":{},"schema":[],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"id":"57507ffc-f28e-4a3a-b297-b7209877952d","name":"send_mail","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[1400,920],"typeVersion":2},{"parameters":{"options":{"systemMessage":"=# Role:  \nYou are an intelligent email agent that automatically sends personalized emails to recipients. Your task is to generate and send a clear, professional, and accurate email based on the provided names, email addresses, and desired content.  \n\n## Rules & Behavior:  \n\n# You have 2 Tools and need to use them correctly, you always use both tools, first the Vectorstore_mails after that the send_mail\n\n## Vectorstore_mails \nUse this tool to get Email adresses, you can get all mail adresses from pinecone.\nwinter test = winterIsComming@gmail.com\n\n## send_mail\nUse this tool to send mails.\n\n### Email Format:  \n- The email must include a **subject line**.  \n- It should begin with an appropriate **salutation** (e.g., \"Hello [Name]\" or \"Dear [Name]\").  \n- The **main content** should be clear, concise, and friendly.  \n- The email should end with a **suitable closing phrase** (e.g., \"Best regards, Arnie\").  \n\n### Dynamic Personalization:  \n- Automatically replace the placeholder **[Name]** with the recipient’s actual name.  \n- If the name is missing, use a general salutation such as **\"Hello, dear team\"**.  \n\n### Review & Optimization:   \n- Avoid unnecessary **repetitions or vague wording**.  \n- If the message is **too long or unstructured, summarize it clearly**.  \n\n## Email Types (Adaptable Based on Context):  \n- Standard information email  \n- Reminder or follow-up  \n- Offer or marketing email  \n- Support or customer service request  \n\n---\n\n### Example of a Generated Email:  \n\n**Subject:** Important Information for You, [Name]  \n\n**Text:**  \nHello [Name],  \n\nI hope you are doing well. I wanted to quickly inform you about [Topic]. If you have any questions or need further information, feel free to reach out.  \n\nBest regards,  \nSender Name  \n"}},"id":"5181f7ed-1916-4c98-bc9b-a7316a7f1b07","name":"AI Agent1","type":"@n8n/n8n-nodes-langchain.agent","position":[1080,660],"typeVersion":1.7},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o","cachedResultName":"gpt-4o"},"options":{}},"id":"b47e3e39-58f3-4b8c-9f03-566fa5d582c1","name":"OpenAI Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[880,920],"typeVersion":1.2},{"parameters":{"pineconeIndex":{"__rl":true,"mode":"list","value":"n8ndocs","cachedResultName":"n8ndocs"},"options":{"pineconeNamespace":"docsmail"}},"id":"fb7413e0-3b15-4765-8db2-eaf2df81da2d","name":"Pinecone Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[920,1080],"typeVersion":1},{"parameters":{"options":{}},"id":"27c8648c-2de7-4abf-bff2-ccd5812ad74b","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[940,1260],"typeVersion":1.2},{"parameters":{"content":"#### **First Step**\n* Add list of contact Email from Google Docs to vector store \"Pinecone\"\n\n  * **Read Google Docs Data:** Use the n8n Google Docs node to access and retrieve the list of contact emails from your specified document.\n\n  * **Prepare Data for Vectorization:** Process the extracted emails (and any other relevant fields) using n8n's data manipulation nodes (e.g., Code, Set, Split In Batches) to format them for vectorization.\n\n  * **Generate Embeddings:** Integrate an n8n node using \"Embeddings OpenAI\" to an embedding service, to convert the email data into vector embeddings.\n\n  * **Upsert to Pinecone:** Use the n8n Pinecone node to connect to the Pinecone index and efficiently upload the generated vectors, along with unique IDs and metadata.","height":360,"width":660},"id":"d9afacfe-5937-4a07-a4a4-79a2f1c90cb5","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"#### **Second Step**\n* Retrieve email addresses from Pinecone and generate personalized emails, then uses a separate workflow to send them, all triggered by a chat message.\n\n   * **AI Agent (Core Logic):** An AI Agent (configured with gpt-4o) uses a detailed system message to act as an intelligent email sender. Its rules dictate it must always use two tools: Vectorstore_mails and send_mail.\n\n   * **Vectorstore Mails (Tool):** This tool, connected to a Pinecone Vector Store (n8ndocs index, docsmail namespace) and an OpenAI Embeddings model, allows the AI Agent to retrieve email addresses based on user queries (e.g., \"winter test\" returns \"winterIsBack@gmail.com\").\n\n   * **Send Mail (Tool):** This tool is a reference to another n8n workflow  named \"Send Mails Pinecone\" that handles the actual email sending. The AI Agent will dynamically construct the email content and recipient details to pass to this tool.\n\n   * **Email Generation:** The AI Agent is responsible for generating personalized, clear, and professional emails, dynamically replacing placeholders like [Name] and ensuring proper formatting (subject, salutation, content, closing).","height":420,"width":760,"color":6},"id":"c957409e-9047-44c6-9a1f-e6c8f8ca06a7","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[0,740],"typeVersion":1},{"parameters":{"content":"#### **Third Step**\n* Triggered by second workflow, uses an AI Agent to dynamically compose and send emails via Gmail, extracting recipient, subject, and message content from the incoming data.\n\n  * Triggered by another workflow: This workflow starts when called by the \"Mail Agend Pinecone\" workflow, receiving the email details as input.\n\n  * AI Agent (Email Generation): An AI Agent (using gpt-4o-mini) acts as a helpful assistant to process the incoming request and prepare the specific To, Subject, and Message content for the email.\n\n  * Send Email via Gmail: The prepared email details are then passed to the Gmail node, which sends the email to the designated recipient.","height":340,"width":800,"color":5},"id":"134ab20f-c8af-4e9a-a7f5-5d9fcc51e554","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[20,1440],"typeVersion":1},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/*********"},"id":"8920d409-69ba-43f2-bc5e-90ae412d7036","name":"Get a document","type":"n8n-nodes-base.googleDocs","position":[940,0],"typeVersion":2}],"connections":{"Gmail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"send_mail":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Get a document":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Vectorstore Mails":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Vectorstore Mails","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Pinecone Vector Store1":{"ai_vectorStore":[[{"node":"Vectorstore Mails","type":"ai_vectorStore","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Get a document","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c9d5e239-856c-4842-a18d-edd55d2bfe38","triggerCount":0,"tags":[]}