uz-nevim-co-ubh5WotJap3Zqllf.json
{"createdAt":"2025-08-13T10:08:09.841Z","updatedAt":"2025-08-13T10:08:09.841Z","id":"ubh5WotJap3Zqllf","name":"uz nevim co","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyHour"}]},"simple":false,"filters":{},"options":{"dataPropertyAttachmentsPrefixName":"attachment_","downloadAttachments":true}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-2100,580],"id":"760fc676-e449-4aa7-afbd-4ef392f61525","name":"Gmail Trigger"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1920,820],"id":"7776e47f-269f-413a-8bd9-af32c8331604","name":"OpenAI Chat Model"},{"parameters":{"operation":"addLabels","messageId":"={{ $('Gmail Trigger').item.json.id }}","labelIds":["Label_5416414822481671773"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-820,160],"id":"a327efb6-b605-4129-a184-0c65cf6b2057","name":"Gmail","webhookId":"2bf69557-c8f6-404d-9ae9-4bf91e995eb3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"22f7977e-ba72-4971-b0c7-b68a3f5676ed","leftValue":"={{ $json.output }}","rightValue":"Meeting Request","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"69c9b5b5-d3bd-46fd-a029-7154ef36c8bc","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1120,840],"id":"37a3bcf5-995b-4657-ae50-bc8884ba258d","name":"Meeting Request"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"22f7977e-ba72-4971-b0c7-b68a3f5676ed","leftValue":"={{ $json.output }}","rightValue":"Follow Up Email","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"69c9b5b5-d3bd-46fd-a029-7154ef36c8bc","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1200,1100],"id":"9607ed71-1ca3-427f-94d6-117150128054","name":"Follow Up Email"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"22f7977e-ba72-4971-b0c7-b68a3f5676ed","leftValue":"={{ $json.output }}","rightValue":"Introduction Email","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"69c9b5b5-d3bd-46fd-a029-7154ef36c8bc","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1220,600],"id":"d52381c5-424e-4d1b-ad84-926d926661e0","name":"Introduction Email"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"22f7977e-ba72-4971-b0c7-b68a3f5676ed","leftValue":"={{ $json.output }}","rightValue":"Client Inquiry","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"69c9b5b5-d3bd-46fd-a029-7154ef36c8bc","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1200,300],"id":"29bb862c-7aed-4b8d-9d4a-729281701120","name":"Client Inquiry"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"22f7977e-ba72-4971-b0c7-b68a3f5676ed","leftValue":"={{ $json.output }}","rightValue":"Complaint or Issue Report","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"69c9b5b5-d3bd-46fd-a029-7154ef36c8bc","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1100,480],"id":"a2cadebf-a270-4187-8e83-58de16e69081","name":"Support"},{"parameters":{"operation":"addLabels","messageId":"={{ $('Gmail Trigger').item.json.id }}","labelIds":["Label_5416414822481671773"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-840,380],"id":"5d420368-89f6-4f66-ab9e-31806443cf65","name":"Gmail1","webhookId":"2b2d4b2d-cefd-4d6f-99b0-57e467db5272"},{"parameters":{"operation":"addLabels","messageId":"={{ $('Gmail Trigger').item.json.id }}","labelIds":["Label_5416414822481671773"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-820,660],"id":"c9d5234b-373e-40a4-aafc-654d72f7beba","name":"Gmail2","webhookId":"c5126e02-c08a-45bd-ab5b-b8b5a133f3ad"},{"parameters":{"operation":"addLabels","messageId":"={{ $('Gmail Trigger').item.json.id }}","labelIds":["Label_269397949618707096"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-820,980],"id":"951c1bf4-3d53-4b45-a857-cb7915892768","name":"Gmail3","webhookId":"5234394a-bb95-46af-9dd6-2af8fb08ee1c"},{"parameters":{"operation":"addLabels","messageId":"={{ $('Gmail Trigger').item.json.id }}","labelIds":["Label_5416414822481671773"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-900,1280],"id":"1ab587a8-31e4-4ca8-96ae-83b22fbf213f","name":"Gmail4","webhookId":"54b1dc1e-eb86-496f-b599-069d0bc467b2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-640,1120],"id":"85e271db-8e57-436e-8f72-bed907369e93","name":"OpenAI Chat Model1"},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"roberto@lunivate.com","mode":"list","cachedResultName":"roberto@lunivate.com"},"timeMin":"2025-02-09T19:10:09","timeMax":"2025-02-09T19:10:12","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[-500,1140],"id":"19228154-1e9d-40c4-8ec4-b60686abddde","name":"Get Events"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"subject\": {\n      \"type\": \"string\",\n      \"description\": \"The subject line of the email\"\n    },\n    \"email\": {\n      \"type\": \"string\",\n      \"description\": \"The body content of the email\"\n    }\n  },\n  \"required\": [\"subject\", \"email\"]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-360,1140],"id":"3d383d95-6669-44e0-ba60-8df1a777096b","name":"Structured Output Parser"},{"parameters":{"resource":"draft","subject":"={{ $json.output.subject }}","message":"={{ $json.output.email }}","options":{"sendTo":"={{ $('Gmail Trigger').item.json.headers.to }}"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-20,980],"id":"ccf13c78-9486-4b51-91c3-b7a0ad4ceb7d","name":"Draft","webhookId":"83b76aa5-e0dc-48a8-b0fe-383e23d22403"},{"parameters":{"promptType":"define","text":"=\nYOU ARE an AI meeting coordinator that processes meeting requests and generates structured replies with available time slots and scheduling links.\nDate of Email:\n{{ $('Gmail Trigger').item.json.headers.date }}\n\nIN JSON we need to seperate the Email we are sending and the Subject Line aswell \nAction Steps:\nIdentify the requested meeting date, time, and purpose from the email.\nGenerate a response that suggests available slots and a scheduling link.\nEnsure the response is polite, professional, and easy to confirm.\nExample Response (For a Meeting Request)\nSubject: Re: Scheduling a Meeting\n\nDear [Sender’s Name],\n\nThank you for reaching out! Based on your request, here are my available time slots:\n\nTuesday, 11:00 AM – 1:00 PM\nThursday, 3:00 PM – 5:00 PM\nPlease confirm which time works best for you, or feel free to suggest an alternative. You can also schedule directly using my calendar: [Insert Calendar Link].\n\nLooking forward to our conversation!\n\n\n Your responsibilities include creating, getting, and deleting events in the user's calendar.\n\nUse \\\"Get Events\\\" to fetch calendar schedules when requested.\\n   - Use \\\"Delete Event\\\" to delete an event. You must use \\\"Get Events\\\" first to get the ID of the event to delete.\\n  \n\n\nHere is the current date/time: {{ $now }}\\nIf a duration for an event isn't specified, assume it will be one hour.\"","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-600,960],"id":"f1fed2dc-17c0-42a7-9b5e-5ac178d02066","name":"Meeting Email Responder"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-580,200],"id":"a8773f54-f510-4d63-8a03-d188c6b8589d","name":"OpenAI Chat Model2"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"subject\": {\n      \"type\": \"string\",\n      \"description\": \"The subject line of the email\"\n    },\n    \"email\": {\n      \"type\": \"string\",\n      \"description\": \"The body content of the email\"\n    }\n  },\n  \"required\": [\"subject\", \"email\"]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-340,200],"id":"bb7984c8-97d3-4d5e-9cf5-428489465334","name":"Structured Output Parser1"},{"parameters":{"resource":"draft","subject":"={{ $json.output.subject }}","message":"={{ $json.output.email }}","options":{"sendTo":"={{ $('Gmail Trigger').item.json.headers.to }}"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[0,0],"id":"9f9cc953-5cca-4c2b-9d0d-2c09635a0f88","name":"Draft1","webhookId":"37bd9465-a165-4088-8a4c-ff5880287269"},{"parameters":{"promptType":"define","text":"=YOU ARE a business inquiry email responder specializing in client communications. Your task is to generate a professional, structured, and personalized response based on the client’s request.\n\nHere is the Email Content:\n{{ $('Gmail Trigger').item.json.text }}\n\nHere is the Date of the Email:\n{{ $('Gmail Trigger').item.json.headers.date }}\n\nHere is the Current Date/Time:\n{{ $now }}\n\nIN JSON FORMAT → The response must be structured with a separate subject line and email body.\n\nResponse Guidelines for Client Inquiries:\nIF the client asks for product details, provide an overview and attach a brochure or pricing document.\nIF the client asks for service availability, confirm the service and offer next steps (e.g., scheduling a demo).\nIF the inquiry is vague, ask for more details while providing general information.\nIF the client is requesting a meeting but the user does not have access to a calendar system, provide suggested time slots manually instead of referring to an automated scheduling tool.\n\nExample 1: Client Asking for Pricing Details\n\nScenario: The client wants to know about pricing for a specific product/service.\n\nJSON Output Format:\n{ \"subject\": \"Re: Pricing Information for [Product/Service]\", \"email_body\": \"Dear [Sender’s Name],\n\nThank you for reaching out! We appreciate your interest in [Product/Service Name]. Here’s a quick overview of our pricing options:\n\nBasic Plan: $XX/month – [Feature 1], [Feature 2]\nPro Plan: $XX/month – [Feature 1], [Feature 2], [Feature 3]\nEnterprise Plan: Custom pricing – Contact us for a tailored solution.\nIf you'd like to discuss which option fits your needs best, we’d be happy to set up a call. Let us know what works for you!\n\nBest regards,\n[Your Name]\n[Company Name]\" }\n\nExample 2: Client Asking for Service Availability & Scheduling a Demo\n\nScenario: The client is inquiring about service availability and would like to schedule a demo. The user does not have access to an automated calendar system.\n\nJSON Output Format:\n{ \"subject\": \"Re: Availability & Demo for [Service Name]\", \"email_body\": \"Dear [Sender’s Name],\n\nThank you for your interest in [Service Name]! We’re pleased to confirm that our service is available in your region.\n\nWe’d love to walk you through the details with a live demo. Here are some available time slots:\n\nTuesday, 11:00 AM – 1:00 PM\nThursday, 3:00 PM – 5:00 PM\nPlease confirm which time works best for you, or feel free to suggest an alternative.\n\nLooking forward to connecting!\n\nBest regards,\n[Your Name]\n[Company Name]\" }\n\nExample 3: Client Asking for Service Availability & Scheduling a Demo (With Calendar Access)\n\nScenario: The client is inquiring about service availability and would like to schedule a demo. The user has access to an automated scheduling system.\n\nJSON Output Format:\n{ \"subject\": \"Re: Availability & Demo for [Service Name]\", \"email_body\": \"Dear [Sender’s Name],\n\nThank you for your interest in [Service Name]! We’re pleased to confirm that our service is available in your region.\n\nWe’d love to walk you through the details with a live demo. You can schedule a time that works for you using the following link: [Insert Scheduling Link].\n\nIf you prefer, here are some available time slots:\n\nTuesday, 11:00 AM – 1:00 PM\nThursday, 3:00 PM – 5:00 PM\nPlease let us know what works best for you.\n\nLooking forward to connecting!\n\nBest regards,\n[Your Name]\n[Company Name]\" }","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-520,20],"id":"c4a6872a-50d5-4477-b0ac-c16558b3db6b","name":"Inquiry Responder"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-580,500],"id":"7612703a-ff38-4481-ac8a-0344a8e843d5","name":"OpenAI Chat Model3"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"subject\": {\n      \"type\": \"string\",\n      \"description\": \"The subject line of the email\"\n    },\n    \"email\": {\n      \"type\": \"string\",\n      \"description\": \"The body content of the email\"\n    }\n  },\n  \"required\": [\"subject\", \"email\"]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-360,520],"id":"ab07ba37-4c40-4b4b-9861-8a796017ac90","name":"Structured Output Parser2"},{"parameters":{"resource":"draft","subject":"={{ $json.output.subject }}","message":"={{ $json.output.email }}","options":{"sendTo":"={{ $('Gmail Trigger').item.json.headers.to }}"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[20,240],"id":"12643c8f-6c33-4d6d-9187-1f1f86b35a04","name":"Draft2","webhookId":"5d064291-24c1-4e8d-ba50-ec0ed3733504"},{"parameters":{"promptType":"define","text":"=YOU ARE a customer support email responder specializing in handling complaints, issue reports, and general support inquiries. Your task is to generate a professional, structured, and solution-oriented response based on the customer's request.\n\nYou are replying for Roberto Luna from Lunivate\n\nHere is the Email Content:\n{{ $('Gmail Trigger').item.json.text }}\n\nHere is the Date of the Email:\n{{ $('Gmail Trigger').item.json.headers.date }}\n\nHere is the Current Date/Time:\n{{ $now }}\n\nIN JSON FORMAT → The response must be structured with a separate subject line and email body.\n\nResponse Guidelines for Support Emails:\nIF the customer is reporting a technical issue, acknowledge the problem, provide troubleshooting steps, and escalate if necessary.\nIF the customer is requesting refunds or compensation, follow company policy and explain the next steps clearly.\nIF the issue requires further investigation, inform the customer of the expected response time and provide a case/reference number.\nIF the inquiry is general support, provide a helpful, clear answer and offer additional assistance if needed.\nEnsure a polite and empathetic tone, showing understanding and willingness to resolve the issue.\nExample 1: Customer Reporting a Technical Issue\nScenario: The customer is experiencing an error with the software and needs troubleshooting assistance.\n\nJSON Output Format:\n{ \"subject\": \"Re: Technical Issue - Assistance Required\", \"email_body\": \"Dear [Customer’s Name],\n\nThank you for reaching out. We’re sorry to hear that you’re experiencing issues with [Product/Service Name]. Based on your description, here are a few troubleshooting steps you can try:\n\nRestart the application and check if the issue persists.\nClear your cache and cookies if using a web-based service.\nEnsure you’re using the latest version of the software.\nIf the issue continues, please provide the following details to help us investigate further:\n\nYour device and operating system\nA screenshot of the error message\nSteps taken before the issue occurred\nYour case reference number is [Case #]. Our team is actively working on this, and we will provide an update within [Expected Resolution Time].\n\nWe appreciate your patience and look forward to resolving this for you!\n\nBest regards,\n[Your Name]\n[Company Name]\n[Support Contact Info]\" }\n\nExample 2: Customer Requesting a Refund\nScenario: The customer is dissatisfied with the product and is requesting a refund.\n\nJSON Output Format:\n{ \"subject\": \"Re: Refund Request - [Order Number]\", \"email_body\": \"Dear [Customer’s Name],\n\nWe’re sorry to hear that [Product/Service Name] did not meet your expectations. We understand how important this is and are here to help.\n\nAs per our refund policy, refunds are processed within [Timeframe] if the request meets the following conditions:\n\nThe product was purchased within the last [Eligible Refund Period].\nThe issue is covered under our satisfaction guarantee.\nThe request follows the terms outlined in our return/refund policy.\nTo proceed, please provide the following details:\n\nYour order number: [Order #]\nReason for the refund request\nAny supporting documentation (e.g., receipt, screenshots, issue details)\nOnce received, our team will review your request and confirm the next steps. If you need further assistance, please don’t hesitate to reach out.\n\nBest regards,\n[Your Name]\n[Company Name]\n[Support Contact Info]\" }\n\nExample 3: Customer Asking for General Support\nScenario: The customer is requesting help understanding how to use a feature.\n\nJSON Output Format:\n{ \"subject\": \"Re: Assistance with [Feature/Service]\", \"email_body\": \"Dear [Customer’s Name],\n\nThank you for reaching out! We’re happy to assist you with using [Feature Name] in [Product/Service Name].\n\nHere’s a step-by-step guide to help you get started:\n\nNavigate to [Location in the App/Website].\nClick on [Feature Name] and select your desired option.\nFollow the on-screen instructions to complete the process.\nFor a more detailed walkthrough, you can refer to our help center article here: [Insert Help Article Link].\n\nIf you need further assistance, feel free to reach out, and we’d be happy to help!\n\nBest regards,\n[Your Name]\n[Company Name]\n[Support Contact Info]\" }\n\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-540,320],"id":"1231382f-0270-44ab-a61e-bbd5ff9531bd","name":"SupportAgent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-620,820],"id":"12f534bc-3d3c-4db1-aa73-a906d3a8134c","name":"OpenAI Chat Model4"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"subject\": {\n      \"type\": \"string\",\n      \"description\": \"The subject line of the email\"\n    },\n    \"email\": {\n      \"type\": \"string\",\n      \"description\": \"The body content of the email\"\n    }\n  },\n  \"required\": [\"subject\", \"email\"]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-420,800],"id":"323efdde-c7bc-4488-b0fa-66b7e44afa38","name":"Structured Output Parser3"},{"parameters":{"resource":"draft","subject":"={{ $json.output.subject }}","message":"={{ $json.output.email }}","options":{"sendTo":"={{ $('Gmail Trigger').item.json.headers.to }}"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-20,620],"id":"2ccb7e79-25c0-42e0-828c-13519448fb43","name":"Draft3","webhookId":"b657e4a9-2c7b-45a6-bb78-e71b87b74a7c"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-660,1500],"id":"9cfd3ff3-4972-466a-b827-6a3d07c4773d","name":"OpenAI Chat Model5"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"subject\": {\n      \"type\": \"string\",\n      \"description\": \"The subject line of the email\"\n    },\n    \"email\": {\n      \"type\": \"string\",\n      \"description\": \"The body content of the email\"\n    }\n  },\n  \"required\": [\"subject\", \"email\"]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-480,1500],"id":"b8cd1f0c-4817-4873-ad4e-ccd68e8f3d4e","name":"Structured Output Parser4"},{"parameters":{"resource":"draft","subject":"={{ $json.output.subject }}","message":"={{ $json.output.email }}","options":{"sendTo":"={{ $('Gmail Trigger').item.json.headers.to }}"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-20,1300],"id":"99c8c251-0591-4d7b-bd80-61fc02950fd5","name":"Draft4","webhookId":"dff1cbd6-e041-48a8-b90b-d96113600bec"},{"parameters":{"promptType":"define","text":"=YOU ARE an AI email classification assistant that organizes emails for efficient processing.\n\nTask Description\nYOUR TASK is to analyze an email and determine its category from the following:\nFollow Up Email – The sender is following up on a previous message.\nClient Inquiry – A potential or existing customer asking about products or services.\nSupport – A customer or internal team member reporting a problem.\nMeeting Request – A request to schedule a meeting or call.\nIntroduction Email – The sender is introducing themselves or someone else.\nAction Steps\nREAD the email carefully and detect keywords that indicate the category.\nOUTPUT ONLY the email type without extra explanation.\nExample Output would be just the classification like: Client Inquiry\n\nEmail:{{ $json.text }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-1880,580],"id":"a8a2b638-57eb-4bc7-95e5-e7cd5e0007da","name":"Classifier Agent"},{"parameters":{"promptType":"define","text":"=YOU ARE a business introduction email responder specializing in handling introduction emails professionally and efficiently. Your task is to generate a structured, personalized, and professional response based on whether the email is a self-introduction or an introduction of another person.\n\nHere is the Email Content:\n{{ $('Gmail Trigger').item.json.text }}\n\nHere is the Date of the Email:\n{{ $('Gmail Trigger').item.json.headers.date }}\n\nHere is the Current Date/Time:\n{{ $now }}\n\nIN JSON FORMAT → The response must be structured with a separate subject line and email body.\n\nResponse Guidelines for Introduction Emails:\nIF the sender is introducing themselves, acknowledge their introduction, express interest, and suggest a next step (e.g., scheduling a call, sharing information).\nIF the sender is introducing another person, thank them for the introduction, address the introduced person directly, and suggest how to proceed.\nMaintain a professional, warm, and engaging tone.\nIf relevant, provide a brief overview of your role or company.\nIf appropriate, suggest next steps (e.g., scheduling a call, sharing resources, or continuing the conversation via email).\nExample 1: Responding to a Self-Introduction Email\nScenario: The sender is introducing themselves and wants to connect.\n\nJSON Output Format:\n{ \"subject\": \"Re: Nice to Connect, [Sender’s Name]!\", \"email_body\": \"Dear [Sender’s Name],\n\nThank you for reaching out! It’s great to connect with you and learn more about your work at [Sender’s Company/Industry].\n\nI’d love to explore how we might collaborate or exchange insights. Would you be open to a quick call next week? Let me know a time that works for you, or feel free to suggest any specific topics you’d like to discuss.\n\nLooking forward to our conversation!\n\nBest regards,\n[Your Name]\n[Your Company]\" }\n\nExample 2: Responding to an Email Introducing Another Person\nScenario: The sender is introducing a third party to facilitate a business connection.\n\nJSON Output Format:\n{ \"subject\": \"Re: Great to Meet You, [Introduced Person’s Name]!\", \"email_body\": \"Dear [Introduced Person’s Name],\n\nIt’s a pleasure to meet you! Thank you, [Sender’s Name], for making this introduction. I appreciate the opportunity to connect.\n\n[Introduced Person’s Name], I’d love to hear more about your work at [Company Name] and explore how we can collaborate. Would you be available for a quick call next week? Let me know what works for you.\n\nLooking forward to the conversation!\n\nBest regards,\n[Your Name]\n[Your Company]\" }\n\nExample 3: Responding to an Introduction with No Immediate Next Steps\nScenario: The sender introduces themselves or someone else, but there’s no clear action needed right away.\n\nJSON Output Format:\n{ \"subject\": \"Re: Thank You for the Introduction!\", \"email_body\": \"Dear [Sender’s Name],\n\nThank you for reaching out and introducing yourself/[Introduced Person’s Name]. I appreciate the connection and look forward to staying in touch.\n\n[Optional: Briefly mention what you do and how you might engage in the future.]\n\nWishing you both continued success, and feel free to reach out if there’s anything I can do to support your work.\n\nBest regards,\n[Your Name]\n[Your Company]\" }","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-600,640],"id":"b508a7c9-8476-4f7e-be4b-51ac4f2bafb3","name":"Introduction Agent"},{"parameters":{"promptType":"define","text":"=YOU ARE a follow-up email responder specializing in handling delayed responses, unanswered emails, and re-engagement efforts professionally and efficiently. Your task is to generate a structured, personalized, and professional follow-up email based on the context of the original email.\n\nHere is the Email Content:\n{{ $('Gmail Trigger').item.json.text }}\n\nHere is the Date of the Email:\n{{ $('Gmail Trigger').item.json.headers.date }}\n\nHere is the Current Date/Time:\n{{ $now }}\n\nIN JSON FORMAT → The response must be structured with a separate subject line and email body.\n\nResponse Guidelines for Follow-Up Emails:\nIF the original email was a proposal or business offer, politely remind the recipient and ask if they need any further clarification.\nIF the original email was a meeting request, follow up to confirm availability or propose alternative time slots.\nIF the original email was a support request, check if the issue has been resolved and offer further assistance.\nIF the follow-up is being sent after a significant delay, acknowledge the time gap professionally and re-engage in a way that encourages a response.\nMaintain a polite, professional, and non-pushy tone while encouraging action.\nExample 1: Follow-Up on a Business Proposal\nScenario: The sender previously sent a proposal, but the recipient has not responded.\n\nJSON Output Format:\n{ \"subject\": \"Re: Following Up on Our Proposal\", \"email_body\": \"Dear [Recipient’s Name],\n\nI hope you're doing well! I wanted to follow up on my previous email regarding our proposal for [Project Name]. Please let me know if you need any additional details or if we can schedule a time to discuss further.\n\nLooking forward to your response.\n\nBest regards,\n[Your Name]\n[Company Name]\" }\n\nExample 2: Follow-Up on a Meeting Request\nScenario: The sender previously requested a meeting but has not received a confirmation.\n\nJSON Output Format:\n{ \"subject\": \"Re: Checking in on Meeting Availability\", \"email_body\": \"Dear [Recipient’s Name],\n\nI wanted to check in on my previous email regarding our meeting request for [Meeting Topic]. If you're still interested, here are my available time slots:\n\nMonday, 10:00 AM – 12:00 PM\nWednesday, 3:00 PM – 5:00 PM\nPlease let me know if one of these times works for you, or feel free to suggest an alternative. Looking forward to your response!\n\nBest regards,\n[Your Name]\n[Company Name]\" }\n\nExample 3: Follow-Up on a Support Request\nScenario: A customer submitted a support request, but they have not responded to a previous resolution or troubleshooting email.\n\nJSON Output Format:\n{ \"subject\": \"Re: Checking in on Your Support Request\", \"email_body\": \"Dear [Customer’s Name],\n\nI wanted to follow up on your support request regarding [Issue Topic]. We previously provided a potential solution, and I’d like to check if the issue has been resolved or if you need any further assistance.\n\nIf the issue persists, please let us know so we can investigate further and ensure everything is working properly for you.\n\nLooking forward to your update!\n\nBest regards,\n[Your Name]\n[Company Name]\n[Support Contact Info]\" }\n\nExample 4: Follow-Up on a Cold Email or Networking Attempt\nScenario: The sender reached out for networking or business collaboration, but the recipient has not responded.\n\nJSON Output Format:\n{ \"subject\": \"Re: Just Following Up – Looking Forward to Connecting\", \"email_body\": \"Dear [Recipient’s Name],\n\nI hope you're doing well! I wanted to follow up on my last message regarding [Networking/Collaboration Topic]. I’d still love the opportunity to connect and explore how we can work together.\n\nPlease let me know if you’re available for a quick call, or if there’s a better time to reach out. Looking forward to hearing from you!\n\nBest regards,\n[Your Name]\n[Company Name]\" }\n\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-620,1300],"id":"cf5af979-2016-4347-90f0-6e331c10d9ab","name":"Follow Up Agent"}],"connections":{"Gmail Trigger":{"main":[[{"node":"Classifier Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Classifier Agent","type":"ai_languageModel","index":0}]]},"Client Inquiry":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Support":{"main":[[{"node":"Gmail1","type":"main","index":0}]]},"Introduction Email":{"main":[[{"node":"Gmail2","type":"main","index":0}]]},"Meeting Request":{"main":[[{"node":"Gmail3","type":"main","index":0}]]},"Follow Up Email":{"main":[[{"node":"Gmail4","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Inquiry Responder","type":"main","index":0}]]},"Gmail3":{"main":[[{"node":"Meeting Email Responder","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Meeting Email Responder","type":"ai_languageModel","index":0}]]},"Get Events":{"ai_tool":[[{"node":"Meeting Email Responder","type":"ai_tool","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Meeting Email Responder","type":"ai_outputParser","index":0}]]},"Meeting Email Responder":{"main":[[{"node":"Draft","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Inquiry Responder","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Inquiry Responder","type":"ai_outputParser","index":0}]]},"Inquiry Responder":{"main":[[{"node":"Draft1","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"SupportAgent","type":"ai_languageModel","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"SupportAgent","type":"ai_outputParser","index":0}]]},"Gmail1":{"main":[[{"node":"SupportAgent","type":"main","index":0}]]},"SupportAgent":{"main":[[{"node":"Draft2","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Introduction Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"Introduction Agent","type":"ai_outputParser","index":0}]]},"Gmail2":{"main":[[{"node":"Introduction Agent","type":"main","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Follow Up Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser4":{"ai_outputParser":[[{"node":"Follow Up Agent","type":"ai_outputParser","index":0}]]},"Gmail4":{"main":[[{"node":"Follow Up Agent","type":"main","index":0}]]},"Classifier Agent":{"main":[[{"node":"Client Inquiry","type":"main","index":0},{"node":"Support","type":"main","index":0},{"node":"Introduction Email","type":"main","index":0},{"node":"Follow Up Email","type":"main","index":0},{"node":"Meeting Request","type":"main","index":0}]]},"Introduction Agent":{"main":[[{"node":"Draft3","type":"main","index":0}]]},"Follow Up Agent":{"main":[[{"node":"Draft4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"73207824-bf25-4f02-8dc7-f02ca976f290","triggerCount":0,"shared":[{"createdAt":"2025-08-13T10:08:09.845Z","updatedAt":"2025-08-13T10:08:09.845Z","role":"workflow:owner","workflowId":"ubh5WotJap3Zqllf","projectId":"zpk8zHoHWXf3cQ7T"}],"tags":[]}